{% extends 'trainings_occurrences/detail_bases/attendance.html' %}
{% load static %}
{% block location_text %}{{ event }} – {{ occurrence.datetime_start|date }}{% endblock %}
{% block form_action %}{% url 'trainings:fill-attendance' event.id occurrence.id %}{% endblock %}

{% block title %}{% if occurrence.is_opened %}Vyplnění docházky{% else %}Úprava docházky{% endif %}{% endblock %}

{% block savebtn_value %}{% if occurrence.is_opened %}Zapsat docházku{% else %}Upravit docházku{% endif %}{% endblock %}

{% block organizers_pretty_name %}Trenéři{% endblock %}
{% block notifications %}
    {% if not occurrence.can_be_reopened %}
        <div class="card bg-warning">
            <div class="card-header border-0">
                Existují trenéři, kteří již mají proplacenou transakci, úpravou jejich docházky nebude úpravena jejich transakce
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block participants_body %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Řádní
                    </div>
                </div>
                <div class="card-body">
                    <table id="regular-participants-attendance-table" class="table">
                        <thead>
                            <tr>
                                <th>Jméno</th>
                                <th>Přítomnost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for participant_assignment in occurrence.regular_not_excused_participants_assignments_sorted %}
                                <tr>
                                    <td>
                                        <a href="{% url 'persons:detail' participant_assignment.person.id %}">{{ participant_assignment.person }}</a>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="{{ participant_assignment.id }}_participant_checkbox" type="checkbox"
                                                   {% if participant_assignment in participant_assignments %}checked{% endif %}
                                                   class="custom-control-input" name="participants"
                                                   value="{{ participant_assignment.id }}">
                                            <label for="{{ participant_assignment.id }}_participant_checkbox"
                                                   class="custom-control-label"></label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Jednorázoví
                    </div>
                </div>
                <div class="card-body">
                    <table id="one-time-participants-attendance-table" class="table">
                        <thead>
                            <tr>
                                <th>Jméno</th>
                                <th>Přítomnost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for participant_assignment in occurrence.one_time_not_excused_participants_assignments_sorted %}
                                <tr>
                                    <td>
                                        <a href="{% url 'persons:detail' participant_assignment.person.id %}">{{ participant_assignment.person }}</a>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="{{ participant_assignment.id }}_participant_checkbox" type="checkbox"
                                                   {% if participant_assignment in participant_assignments %}checked{% endif %}
                                                   class="custom-control-input" name="participants"
                                                   value="{{ participant_assignment.id }}">
                                            <label for="{{ participant_assignment.id }}_participant_checkbox"
                                                   class="custom-control-label"></label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block organizers_body %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Řádní
                    </div>
                </div>
                <div class="card-body">
                    <table id="regular-coaches-attendance-table" class="table">
                        <thead>
                            <tr>
                                <th>Jméno</th>
                                <th>Pozice</th>
                                <th>Přítomnost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coach_assignment in occurrence.regular_not_excused_coaches_assignments_sorted %}
                                <tr {% if coach_assignment.is_transaction_settled %}class="bg-warning"{% endif %}>
                                    <td>
                                        <a href="{% url 'persons:detail' coach_assignment.person.id %}">{{ coach_assignment.person }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'positions:detail' coach_assignment.position_assignment.position.id %}">{{ coach_assignment.position_assignment.position }}</a>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="{{ coach_assignment.id }}_coach_checkbox" type="checkbox"
                                                   {% if coach_assignment in coach_assignments %}checked{% endif %}
                                                   class="custom-control-input" name="coaches"
                                                   value="{{ coach_assignment.id }}">
                                            <label for="{{ coach_assignment.id }}_coach_checkbox"
                                                   class="custom-control-label"></label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Jednorázoví
                    </div>
                </div>
                <div class="card-body">
                    <table id="one-time-coaches-attendance-table" class="table">
                        <thead>
                            <tr>
                                <th>Jméno</th>
                                <th>Pozice</th>
                                <th>Přítomnost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coach_assignment in occurrence.one_time_not_excused_coaches_assignments_sorted %}
                                <tr {% if coach_assignment.is_transaction_settled %}class="bg-warning"{% endif %}>
                                    <td>
                                        <a href="{% url 'persons:detail' coach_assignment.person.id %}">{{ coach_assignment.person }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'positions:detail' coach_assignment.position_assignment.position.id %}">{{ coach_assignment.position_assignment.position }}</a>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="{{ coach_assignment.id }}_coach_checkbox" type="checkbox"
                                                   {% if coach_assignment in coach_assignments %}checked{% endif %}
                                                   class="custom-control-input" name="coaches"
                                                   value="{{ coach_assignment.id }}">
                                            <label for="{{ coach_assignment.id }}_coach_checkbox"
                                                   class="custom-control-label"></label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>
        simpleOrderableTableEnable("regular-participants-attendance-table", [0])
        simpleOrderableTableEnable("one-time-participants-attendance-table", [0])

        simpleOrderableTableEnable("regular-coaches-attendance-table", [0, 1])
        simpleOrderableTableEnable("one-time-coaches-attendance-table", [0, 1])

    </script>
{% endblock %}