{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block scripts %}
    <script src="{% static 'get_django_url.js' %}"></script>
    <script src="{% static 'create_edit_bonus.js' %}"></script>
{% endblock %}
{% block title %}
    {% if bonus %}Editace bonusu{% else %}Vytvoření{% endif %} bonusu
{% endblock %}
{% block content %}
    <input type="hidden" id="url" data-url="{% url 'qualifications:detail' 1 %}">
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5">
                        <span style="line-height: 45px;font-size: 22.5px;">{{ price_list }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">Vytvoření</div>
                    </div>
                    <div class="card-body">
                        {{ form.feature|as_crispy_field }}
                        {{ form.bonus|as_crispy_field }}
                        <div class="form-group">
                            <a id="detail-link" style="display: none" target="_blank">
                                Detail vybrané kvalifikace
                            </a>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary"
                               value="{% if bonus %}Uložit{% else %}Vytvořit{% endif %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
