{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST"
                      action="{% block form_action %}{% endblock %}">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">{% block card_title %}{% endblock %}</div>
                    </div>
                    <div class="card-body">
                        {{ form.name|as_crispy_field }}
                        {{ form.salary_base|as_crispy_field }}
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary" value="{% block savebtn_value %}{% endblock %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}