{% extends "base.html" %}
{% load price_list_tag_extensions %}
{% load static %}
{% block title %}
    Detail ceníku
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ price_list.name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="{% url 'price_lists:edit' price_list.id %}"
                   class="btn btn-success">Upravit</a>
                {% include "delete_button_text.html" with id="delete-price-list-modal" %}
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'price_lists/detail_components/price_list_overview.html' %}
        {% include 'price_lists/detail_components/bonuses.html' %}
    </div>

    {% include "modal_include.html" with id="delete-price-list-modal" template="price_lists/delete.html" %}
    {% include "modal_include.html" with id="delete-bonus-modal" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'price_list_detail.js' %}"></script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>registerModal("delete-bonus-modal")</script>
{% endblock %}

