{% extends "base.html" %}
{% load static %}

{% block title %}
    Seznam ceníků
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="card-title h5">Ceníky</div>
            <div class="card-tools ml-2">
                <a href="{% url 'price_lists:add' %}"><button class="btn btn-info">+</button></a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="price-lists-table" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Název</th>
                                <th scope="col" style="width: 40px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for price_list in price_lists %}
                                <tr>
                                    <td><a href="{% url 'price_lists:detail' price_list.id %}">{{ price_list.name }}</a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-info btn-sm" href="{% url 'price_lists:detail' price_list.id %}">
                                                <i class="fas fa-info"></i>
                                            </a>

                                            {% include "delete_button_icon.html" with id="delete-price-list-modal" pattern="price_lists:delete" object=price_list %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include "modal_include.html" with id="delete-price-list-modal" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'price_lists_index.js' %}"></script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>register_modal("delete-price-list-modal")</script>
{% endblock %}
