{% load trainings_template_tags %}
<div class="card {% if full %}bg-warning{% endif %}">
    <div class="card-header border-0">
        <div class="card-title h5 text-bold">
            <div class="custom-control custom-checkbox">
                <input name="weekdays" id="" type="checkbox"
                       class="custom-control-input"
                       value="">
                <label for="" class="custom-control-label">DATUM</label>
            </div>
        </div>
        <div class="h5 text-right">A / B</div>
    </div>
</div>