{% load trainings_template_tags %}
<div id="occurrence-{{ occurrence.id }}-card" class="card">
    <div class="card-header border-0">
        <div class="card-title h5 text-bold">
            <div class="custom-control custom-checkbox">
                <input name="occurrences" id="occurrence-{{ occurrence.id }}" type="checkbox"
                       {% if occurrence.id in checked_occurrences %}checked{% endif %}
                       class="custom-control-input"
                       value="{{ occurrence.id }}">
                <label for="occurrence-{{ occurrence.id }}" class="custom-control-label">{{ occurrence.date|date }}</label>
            </div>
        </div>
        <div class="h5 text-right"><span id="occurrence-{{ occurrence.id }}-count"></span> / <span id="occurrence-{{ occurrence.id }}-capacity"></span></div>
    </div>
</div>