<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Omluvení</div>
        </div>
        <div class="card-body">
            <table class="table" id="coaches-excused-table">
                <thead>
                    <tr>
                        <th>Osoba</th>
                        <th>Pozice</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for coach_assignment in occurrence.excused_coaches_assignments %}
                        <tr>
                            <td>
                                <a href="{% url 'persons:detail' coach_assignment.person.id %}">{{ coach_assignment.person }}</a>
                            </td>
                            <td>
                                <a href="{% url 'positions:detail' coach_assignment.position_assignment.position.id %}">{{ coach_assignment.position_assignment.position }}</a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-danger btn-sm"
                                       data-toggle="modal"
                                       data-target="#cancel-coach-excuse-modal"
                                       data-action="{% url 'trainings:cancel-coach-excuse' event.id occurrence.id coach_assignment.id %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>