<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="card-title h5">Jednorázoví</div>
            <div class="card-tools ml-2">
                <a href="{% url 'trainings:add-one-time-coach' event.id occurrence.id %}"
                   class="btn btn-primary"
                >Přidat</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table" id="one-time-coaches-table">
                <thead>
                    <tr>
                        <th>Osoba</th>
                        <th>Pozice</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for coach_assignment in occurrence.one_time_present_coaches_assignments %}
                        <tr>
                            <td>
                                <a href="{% url 'persons:detail' coach_assignment.person.id %}">{{ coach_assignment.person }}</a>
                            </td>
                            <td>
                                <a href="{% url 'positions:detail' coach_assignment.position_assignment.position.id %}">{{ coach_assignment.position_assignment.position }}</a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-success btn-sm"
                                       href="{% url 'trainings:edit-one-time-coach' event.id occurrence.id coach_assignment.id %}">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm"
                                       data-toggle="modal"
                                       data-target="#delete-one-time-coach-modal"
                                       data-action="{% url 'trainings:delete-one-time-coach' event.id occurrence.id coach_assignment.id %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>