<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="card-title h5">Jednorázoví</div>
            <div class="card-tools ml-2">
                <a href="{% url 'trainings:add-one-time-participant' event.id occurrence.id %}"
                   class="btn btn-primary"
                >Přidat</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table" id="one-time-participants-table">
                <thead>
                    <tr>
                        <th>Osoba</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant_assignment in occurrence.one_time_participants_assignments %}
                        <tr>
                            <td>
                                <a href="{% url 'persons:detail' participant_assignment.person.id %}">{{ participant_assignment.person }}</a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-danger btn-sm"
                                       data-toggle="modal"
                                       data-target="#delete-one-time-participant-modal"
                                       data-action="{% url 'trainings:delete-one-time-participant' event.id occurrence.id participant_assignment.id %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>