<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="card-title h5">Jednorázoví</div>
            <div class="card-tools ml-2">
                <a href="{% url 'trainings:add-one-time-participant' event.id occurrence.id %}"
                   class="btn btn-primary"
                >Přidat</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table" id="one-time-participants-table">
                <thead>
                    <tr>
                        <th>Osoba</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>