{% load vzs_filters %}
{% load events_template_tags %}
{% load trainings_template_tags %}
<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Kapacita</div>
        </div>
        <div class="card-body">
            <table class="table" id="positions-capacity-table">
                <thead>
                    <tr>
                        <th>Pozice</th>
                        <th>Zaplněnost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for position_assignment in occurrence.event.eventpositionassignment_set.all %}
                        <tr>
                            {% with coaches_count=occurrence|occurrence_position_assignment_present_coaches:position_assignment|length %}
                                <td>
                                    <a href="{% url 'positions:detail' position_assignment.position.id %}">{{ position_assignment.position }}</a>
                                </td>
                                <td class="{% if coaches_count == position_assignment.count %}bg-success{% elif coaches_count > position_assignment.count %}bg-warning{% endif %}">{{ coaches_count }}
                                    / {{ position_assignment.count }}</td>
                            {% endwith %}
                            <td>
                                {% if active_person is not None %}
                                    {% if occurrence|tuple:active_person|can_enroll_position:position_assignment %}
                                        <form method="POST" style="display: inline"
                                              action="{% url 'trainings:enroll-myself-organizer-occurrence' event.id occurrence.id position_assignment.id %}">
                                            {% csrf_token %}
                                            <button class="btn btn-info" type="submit">Přihlásit se</button>
                                        </form>
                                    {% elif occurrence|tuple:active_person|can_unenroll_position:position_assignment %}
                                        {% with assignment=occurrence|tuple:active_person|get_organizer_assignment:position_assignment %}
                                            <a class="btn btn-secondary"
                                               data-toggle="modal"
                                               data-target="#unenroll-myself-organizer-occurrence-modal"
                                               data-action="{% url 'trainings:unenroll-myself-organizer-occurrence' event.id occurrence.id assignment.id %}"
                                            >Odhlásit se</a>
                                        {% endwith %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>