{% load trainings_template_tags %}
<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Kapacita</div>
        </div>
        <div class="card-body">
            <table class="table" id="positions-capacity-table">
                <thead>
                    <tr>
                        <th>Pozice</th>
                        <th>Zaplněnost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for position_assignment in occurrence.event.eventpositionassignment_set.all %}
                        <tr>
                            {% with coaches_count=occurrence|occurrence_position_assignment_present_coaches:position_assignment|length %}
                                <td>
                                    <a href="{% url 'positions:detail' position_assignment.position.id %}">{{ position_assignment.position }}</a>
                                </td>
                                <td class="{% if coaches_count == position_assignment.count %}bg-success{% elif coaches_count > position_assignment.count %}bg-warning{% endif %}">{{ coaches_count }}
                                    / {{ position_assignment.count }}</td>
                            {% endwith %}
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>