{% extends "base.html" %}
{% load vzs_filters %}
{% load trainings_template_tags %}
{% load static %}
{% block title %}
    Detail dne {{ occurrence.datetime_start|date }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ event.name }}</span></div>
                </div>
            </div>
            {% if active_person_can_coach_excuse %}
                <div class="btn-group-md btn-group mb-3 elevation-2">

                    <a data-toggle="modal"
                       data-target="#excuse-myself-coach-modal"
                       data-action="{% url 'trainings:excuse-myself-coach' event.id occurrence.id %}"
                       class="btn btn-secondary">Nahlásit neúčast jako trenér</a>

                </div>
            {% endif %}
            {% if active_person_can_participant_excuse %}
                <div class="btn-group-md btn-group mb-3 elevation-2">
                    <a data-toggle="modal"
                       data-target="#excuse-myself-participant-modal"
                       data-action="{% url 'trainings:excuse-myself-participant' event.id occurrence.id %}"
                       class="btn btn-secondary">Nahlásit neúčast jako účastník</a>

                </div>
            {% endif %}
            {% if active_person_can_participant_unenroll %}
                <div class="btn-group-md btn-group mb-3 elevation-2">
                    {% with participant_attendance=occurrence|get_participant_attendance:active_person %}
                        <a data-toggle="modal"
                           data-target="#unenroll-myself-participant-occurrence-modal"
                           data-action="{% url 'trainings:unenroll-myself-participant-occurrence' event.id occurrence.id participant_attendance.id %}"
                           class="btn btn-secondary">Odhlásit se jako jednorázový účastník</a>
                    {% endwith %}
                </div>
            {% endif %}
            {% if active_person_can_participant_enroll %}
                <div class="btn-group-md btn-group mb-3 elevation-2">
                    <form method="post"
                          action="{% url 'trainings:enroll-myself-participant-occurrence' event.id occurrence.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Přihlásit se jako jednorázový účastník
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% include 'occurrences/detail_components/overview.html' %}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Účastníci
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'occurrences/detail_components/excused_participants.html' %}
                        {% include 'occurrences/detail_components/regular_participants.html' %}
                        {% include 'occurrences/detail_components/one_time_participants.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Trenéři
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'occurrences/detail_components/excused_coaches.html' %}
                        {% include 'occurrences/detail_components/regular_coaches.html' %}
                        {% include 'occurrences/detail_components/one_time_coaches.html' %}
                        {% include 'occurrences/detail_components/positions_capacity.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'modal_include.html' with id='cancel-coach-excuse-modal' %}
    {% include 'modal_include.html' with id='excuse-myself-coach-modal' %}
    {% include 'modal_include.html' with id='excuse-coach-modal' %}
    {% include 'modal_include.html' with id='delete-one-time-coach-modal' %}
    {% include 'modal_include.html' with id='unenroll-myself-organizer-occurrence-modal' %}

    {% include 'modal_include.html' with id='excuse-participant-modal' %}
    {% include 'modal_include.html' with id='cancel-participant-excuse-modal' %}
    {% include 'modal_include.html' with id='excuse-myself-participant-modal' %}
    {% include 'modal_include.html' with id='unenroll-myself-participant-occurrence-modal' %}
    {% include 'modal_include.html' with id='delete-one-time-participant-modal' %}

{% endblock %}
{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>
        simpleOrderableTableEnable("participants-excused-table", [0])
        simpleOrderableTableEnable("participants-regular-table", [0])
        simpleOrderableTableEnable("one-time-participants-table", [0])

        simpleOrderableTableEnable("coaches-excused-table", [0, 1])
        simpleOrderableTableEnable("coaches-regular-table", [0, 1])
        simpleOrderableTableEnable("one-time-coaches-table", [0, 1])
        simpleOrderableTableEnable("positions-capacity-table", [0, 1])
    </script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>
        registerModal("cancel-coach-excuse-modal")
        registerModal('excuse-myself-coach-modal')
        registerModal('excuse-coach-modal')
        registerModal('delete-one-time-coach-modal')
        registerModal('unenroll-myself-organizer-occurrence-modal')

        registerModal('excuse-participant-modal')
        registerModal("cancel-participant-excuse-modal")
        registerModal('excuse-myself-participant-modal')
        registerModal('unenroll-myself-participant-occurrence-modal')
        registerModal('delete-one-time-participant-modal')
    </script>
{% endblock %}