{% extends "base.html" %}
{% load vzs_filters %}
{% load static %}
{% block title %}
    Detail dne {{ occurrence.datetime_start|date }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ event.name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                {% if active_person_can_coach_excuse %}
                    <a data-toggle="modal"
                       data-target="#excuse-myself-coach-modal"
                       data-action="{% url 'trainings:excuse-myself-coach' event.id occurrence.id %}"
                       class="btn btn-secondary">Nahlásit trenérskou neúčast</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'occurrences/detail_components/overview.html' %}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Trenéři
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'occurrences/detail_components/excused_coaches.html' %}
                        {% include 'occurrences/detail_components/regular_coaches.html' %}
                        {% include 'occurrences/detail_components/one_time_coaches.html' %}
                        {% include 'occurrences/detail_components/positions_capacity.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'modal_include.html' with id='cancel-coach-excuse-modal' %}
    {% include 'modal_include.html' with id='excuse-myself-coach-modal' %}
    {% include 'modal_include.html' with id='excuse-coach-modal' %}
{% endblock %}
{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>
        simpleOrderableTableEnable("coaches-excused-table", [0, 1])
        simpleOrderableTableEnable("coaches-regular-table", [0, 1])
        simpleOrderableTableEnable("one-time-coaches-table", [0, 1])
        simpleOrderableTableEnable("positions-capacity-table", [0, 1])
    </script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>
        registerModal("cancel-coach-excuse-modal")
        registerModal('excuse-myself-coach-modal')
        registerModal('excuse-coach-modal')
    </script>
{% endblock %}