{% extends 'persons/subview.html' %}

{% load crispy_forms_tags %}

{% block title %}Úprava osoby{% endblock %}

{% block subcontent %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Úprava kontaktních údajů</div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form|crispy }}
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" value="Uložit" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
