{% extends 'base.html' %}
{% load vzs_filters %}
{% load mptt_tags %}

{% block title %}Seznam všech {{ texts.name_2_plural }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">{{ texts.name_1|capfirst }}</div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        {% recursetree features %}
                            <li>{% indentation_by_level node.level %}<a href="{% url feature_type|add:':detail' node.id %}">{{ node.name }}</a></li>
                            {{ children }}
                        {% endrecursetree %}
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url feature_type|add:':add' %}" class="btn btn-primary">Přidat {{ texts.name_4 }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
