{% if active_person_can_enroll or active_person_can_unenroll %}
    <div class="btn-group-md btn-group mb-3 elevation-2">
        <form method="POST" action="{% if active_person_can_enroll %}{% url enroll_action_name event.id %}{% else %}{% url unenroll_action_name active_person_enrollment.id %}{% endif %}">
            {% csrf_token %}
            {% if active_person_can_enroll %}
                <button class="btn btn-info" type="submit">Přihlásit se</button>
            {% elif active_person_can_unenroll %}
                <button class="btn btn-secondary" type="submit">Odhlásit se</button>
            {% endif %}

        </form>
    </div>
{% endif %}