{% load events_tag_extensions %}
<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Přehled tréninku</div>
        </div>
        <div class="card-body p-0">
            <table class="mb-1 table">
                <tbody>
                    <tr>
                        <td class="text-nowrap text-bold">Koná se týdně:</td>
                        <td class="w-100">{{ event.weekdays|length }}x v
                            {% for weekday in event.weekdays %}
                                {{ weekday|weekday_pretty }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% for weekday in event.weekdays %}
                        <tr>
                            <td class="text-nowrap text-bold">{{ weekday|weekday_pretty }}:</td>
                            {% with day_shortcut=weekday|weekday_2_day_shortcut %}
                                {% with from_var_name='from_'|addstr:day_shortcut to_var_name='to_'|addstr:day_shortcut %}
                                    {% with from_time=event|getattribute:from_var_name to_time=event|getattribute:to_var_name %}
                                        <td class="w-100">{{ from_time|time }}
                                            – {{ to_time|time }}</td>
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>