{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5">
                        <span style="line-height: 45px;font-size: 22.5px;">{% block location_text %}{% endblock %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block notifications %}{% endblock %}
    {% block body %}{% endblock %}
{% endblock %}