{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block scripts %}
    <script src="{% static 'create_edit_event_position_assignment.js' %}"></script>
{% endblock %}
{% block title %}
    Přidání organizátorské pozice
{% endblock %}
{% block content %}
    <input type="hidden" id="url" data-url="{% url 'positions:detail' 1 %}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">{% if position_assignment %}Úprava {% else %}
                            Přídání {% endif %}</div>
                    </div>
                    <div class="card-body">
                        {{ form.position|as_crispy_field }}
                        <div class="form-group">
                            <a id="detailLink" style="display: none" target="_blank">
                                Detail vybrané pozice
                            </a>
                        </div>
                        {{ form.count|as_crispy_field }}
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary"
                               value="{% if position_assignment %}Uložit{% else %}Vytvořit{% endif %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
