{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load vzs_filters %}
{% load static %}
{% block scripts %}
    <script src="{% static 'events/show_hide_detail_link.js' %}"></script>
    <script src="{% static 'events/create_edit_participant_enrollment.js' %}"></script>
    {% block child_scripts %}{% endblock %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5">
                        <span style="line-height: 45px;font-size: 22.5px;">{{ event }}</span></div>
                </div>
            </div>
        </div>
    </div>

    {% with approved_participants_length=event.approved_participants|length %}
        {% with free_spots=event.capacity|subtract:approved_participants_length %}
            <div class="alert {% if free_spots > 0 %}alert-success{% else %}alert-warning{% endif %}" role="alert">
                Počet volných míst: {{ free_spots|math_max:0 }}
            </div>
        {% endwith %}
    {% endwith %}

    {% block child_notifications %}{% endblock %}

    <input type="hidden" id="url" data-url="{% url 'persons:detail' 1 %}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST"
                      action="{% block form_action %}{% endblock %}">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">{% block card_title %}{% endblock %}</div>
                    </div>
                    <div class="card-body">
                        {{ form.person|as_crispy_field }}
                        <div class="form-group">
                            <a id="detail-link" style="display: none" target="_blank">
                                Detail vybrané osoby
                            </a>
                        </div>
                        {{ form.state|as_crispy_field }}
                        {% block body %}{% endblock %}
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary" onclick="beforeSubmit()"
                               value="{% block savebtn_value %}{% endblock %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}