{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block scripts %}
    <script src="{% static 'set_report_validity.js' %}"></script>
    <script src="{% static 'create_edit_one_time_event.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST"
                      action="{% block form_action %}{% endblock %}"
                      onsubmit="return beforeSubmit()">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">{% block card_title %}{% endblock %}</div>
                    </div>
                    <div class="card-body">
                        {% include "events/event_common_fields.html" %}
                        <fieldset>
                            <legend>Datum</legend>
                            {{ form.time_start|as_crispy_field }}
                            {{ form.time_end|as_crispy_field }}
                        </fieldset>

                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary"
                               value="{% block savebtn_value %}{% endblock %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}