{% extends "base.html" %}
{% block title %}
    Smazání události
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-danger">
                    <div class="card-title h5">Potvrzení smazání události</div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <p class="px-4">Chcete opravdu smazat událost "{{ event.name }}"?</p>
                        </div>
                        {% if children %}
                            <div class="row">
                                <div class="alert alert-warning" style="display: inline">
                                    Tato událost zahrnuje pravidelné tréninky
                                    (celkem {{ children.count }})
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" value="Smazat" class="btn btn-danger"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}