{% extends "base.html" %}
{% block title %}
    Smazání události
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Chcete opravdu smazat událost "{{ event.name }}"?</p>
        {% if children %}
            <p>Tato událost zahrnuje pravidelné tréninky
                (celkem {{ children.count }})</p>
            <ul>
                {% for child in children %}
                    <li>{{ child.time_start|date:'j.n.Y' }} {{ child.time_start|date:'H:i' }}
                        – {{ child.time_end|date:'H:i' }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p class="form-buttons">
            <input type="submit" value="Delete">
            <a href="{% url 'events:index' %}">Zrušit</a>
        </p>
    </form>
{% endblock %}