{% extends "modal_delete.html" %}

{% block modal_title %}
    Potvrzení smazání události
{% endblock %}

{% block modal_body %}
    <div class="row">
        <p class="px-4">Chcete opravdu smazat událost "{{ event.name }}"?</p>
    </div>
    {% if event.get_children_trainings_sorted %}
        <div class="row">
            <div class="alert alert-warning" style="display: inline">
                Tato událost zahrnuje pravidelné tréninky
                (celkem {{ event.get_children_trainings_sorted.count }})
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block delete_action %}
    {% url "events:delete" event.pk %}
{% endblock %}
