{% extends "base.html" %}
{% load tag_extensions %}
{% block title %}
    Detail události
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ event.name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="

                         {% if is_top_training %}{% url 'events:edit_training' event.id %}{% else %}{% url 'events:edit_one_time_event' event.id %}{% endif %}"
                   class="btn btn-success">Upravit</a>
                <a href="{% url 'events:delete' event.id %}" class="btn btn-danger">Smazat</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">Přehled události</div>
                </div>
                <div class="card-body p-0">
                    <table class="mb-1 table">
                        <tbody>
                            <tr>
                                <td class="text-nowrap text-bold">Popis:</td>
                                <td class="w-100">{{ event.description }}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap text-bold">Opakující se:</td>
                                <td class="w-100">{{ is_top_training|yesno:"Ano,Ne" }}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap text-bold">Maximální počet účastníků:</td>
                                <td class="w-100">{{ event.capacity }}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap text-bold">Minimální věk účastníků:</td>
                                <td class="w-100">{{ event.age_limit }}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap text-bold">Stav události:</td>
                                <td class="w-100">{{ event.state }}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap text-bold">Začíná:</td>
                                <td class="w-100">{{ event.time_start|date:'j.n.Y' }}</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap text-bold">Končí:</td>
                                <td class="w-100">{{ event.time_end|date:'j.n.Y' }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if is_top_training %}
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="card-title h5">Přehled tréninku</div>
                    </div>
                    <div class="card-body p-0">
                        <table class="mb-1 table">
                            <tbody>
                                <tr>
                                    <td class="text-nowrap text-bold">Koná se týdně:</td>
                                    <td class="w-100">{{ event.weekdays|length }}x v
                                        {% for weekday in event.weekdays %}
                                            {{ weekday|weekday_pretty }}{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% for weekday in event.weekdays %}
                                    <tr>
                                        <td class="text-nowrap text-bold">{{ weekday|weekday_pretty }}:</td>
                                        {% with day_shortcut=weekday|weekday_2_day_shortcut %}
                                            {% with from_var_name='from_'|addstr:day_shortcut to_var_name='to_'|addstr:day_shortcut %}
                                                {% with from_time=event|getattribute:from_var_name to_time=event|getattribute:to_var_name %}
                                                    <td class="w-100">{{ from_time|date:'H:i' }}
                                                        – {{ to_time|date:'H:i' }}</td>
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="card-title h5">Rozpis tréninků</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for weekday in event.weekdays %}
                                <div class="col-md-2 col-12">
                                    <div class="card">
                                        <div class="card-header border-0">
                                            {% with day=weekday|weekday_pretty %}
                                                <div class="card-title h5 text-bold">{{ day }}</div>
                                            {% endwith %}
                                        </div>
                                        <div class="card-body p-0">
                                            <table class="mb-1 table">
                                                <tbody>
                                                    {% for child in event.children %}
                                                        {% if child.time_start.weekday == weekday %}
                                                            <tr>
                                                                <td class="w-100">{{ child.time_start|date:'j.n.Y' }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
