{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block scripts %}
    <script src="{% static 'set_report_validity.js' %}"></script>
    <script src="{% static 'set_element_required.js' %}"></script>
    <script src="{% static 'edit_min_age.js' %}"></script>
{% endblock %}
{% block title %}
    Úprava minimální věkové hranice
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5">
                        <span style="line-height: 45px;font-size: 22.5px;">{{ event }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">Úprava</div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="card-title h5">Minimální věková hranice</div>
                                </div>
                                <div class="card-body">
                                    {{ form.min_age_enabled|as_crispy_field }}
                                    {{ form.min_age|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary"
                               onclick="beforeSubmit()"
                               value="Uložit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
