{% extends "base.html" %}
{% block content %}
    <a href="{% url 'events:add_training' %}">Nový trénink</a>
    <hr>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Trénink</th>
            <th>Akce</th>
        </tr>

        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.is_top_training|yesno:"Ano,Ne" }}</td>
                <td>
                    <a href="{% url 'events:detail' event.id %}">Detail</a> |
                    {% if event.is_top_training %}
                        <a href="{% url 'events:edit_training' event.id %}">Edit</a> |
                    {% else %}
                        {% comment %}
                        TODO: pridat editaci jednorazove udalosti
                        {% endcomment %}
                    {% endif %}

                    <a href="{% url 'events:delete' event.id %}">Smazat</a> |

                </td>
            </tr>
        {% endfor %}
        <tr></tr>
    </table>
{% endblock %}