{% extends "base.html" %}
{% load static %}
{% block title %}
    Detail jednorázové události
{% endblock %}

{% block content %}
    <input type="hidden" id="sign-url" data-url="{% url 'events:signup_person_for_one_time_event' event.id %}">
    <input type="hidden" id="substitute-url" data-url="{% url 'events:add_substitute_for_one_time_event' event.id %}">

    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ event.name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="{% url 'events:edit_one_time_event' event.id %}"
                   class="btn btn-success">Upravit</a>
                {% include "delete_button_text.html" with id="delete-event-modal" %}
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'events/detail_components/one_time_event_overview.html' %}
        {% include 'events/detail_components/one_time_event_organizers.html' %}
        {% include 'events/detail_components/one_time_event_signed_participants.html' %}
        {% include 'events/detail_components/one_time_event_substitutes.html' %}
    </div>


    {% include "modal_include.html" with id="delete-event-modal" template="events/delete.html" %}
    {% include "modal_include.html" with id="delete-position-assignment-modal" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'get_django_url.js' %}"></script>
    <script src="{% static 'one_time_event_detail.js' %}"></script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>registerModal("delete-position-assignment-modal")</script>
{% endblock %}