{% extends "base.html" %}
{% load static %}
{% block scripts %}
    <script src="{% static 'training_detail.js' %}"></script>
{% endblock %}
{% block title %}
    Detail tréninku
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ event.name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="{% url 'events:edit_training' event.id %}" class="btn btn-success">Upravit</a>
                {% include "delete_button_text.html" with id="delete-event-modal" %}
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'events/detail_components/training_overview.html' %}
        {% include 'events/detail_components/training_summary.html' %}
        {% include 'events/detail_components/min_age.html' with event_type='training' %}
        {% include 'events/detail_components/training_schedule.html' %}
    </div>

    {% include "modal_include.html" with id="delete-event-modal" template="events/delete.html" %}
{% endblock %}
