# Comment out for automatic https
{
	auto_https disable_redirects
}

# Replace for production
# vzs.svandelik.cz:443 {
http://localhost:80 {
  handle_path /static/* {
		root * /var/www/staticfiles
		file_server
  }
  
  reverse_proxy vzs-clenska-sekce-backend:8080
}
