{% load vzs_filters %}
{% load trainings_template_tags %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Trenéři</div>
        </div>
        <div class="card-body">
            <table id="coaches-positions-table" class="table">
                <thead>
                    <tr>
                        <th>Pozice</th>
                        <th>Zaplněnost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for position_assignment in event.eventpositionassignment_set.all %}
                        <tr>
                            {% with coaches_count=event|coach_position_assignment_coaches:position_assignment|length %}
                                <td><a href="{% url 'positions:detail' position_assignment.position.id %}">{{ position_assignment.position }}</a></td>
                                <td class="{% if coaches_count == position_assignment.count %}bg-success{% elif coaches_count > position_assignment.count %}bg-warning{% endif %}">{{ coaches_count }}
                                    / {{ position_assignment.count }}</td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="coaches-table" class="table">
                <thead>
                    <tr>
                        <th>Osoba</th>
                        <th>Pozice</th>
                        <th>Garant</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for coach in event.coachpositionassignment_set.all %}
                        <tr>
                            <td>
                                <a href="{% url 'persons:detail' coach.person.id %}">{{ coach.person }}</a>
                            </td>
                            <td><a href="{% url 'positions:detail' coach.position_assignment.position.id %}">{{ coach.position_assignment.position }}</a></td>
                            <td>
                                {% if coach.training.main_coach_assignment == coach %}
                                    {% value_present_symbol %}
                                {% else %}
                                    {% value_missing_symbol %}
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-success btn-sm"
                                       href="{% url 'trainings:edit-coach-assignment' event.id coach.id %}">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm"
                                       data-toggle="modal"
                                       data-target="#delete-coach-assignment-modal"
                                       data-action="{% url 'trainings:delete-coach-assignment' event.id coach.id %}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary" href="{% url 'trainings:create-coach-assignment' event.id %}">Přidat</a>
        </div>
    </div>
</div>
