{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ feature.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Přidání přiřazení {{ texts.name_2 }}</div>
                </div>
                <form method="post" id="assign-form">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form|crispy }}
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" value="Uložit" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}