{% load sidebar_menu_tags %}
{% load static %}
{% load active_link_tags %}
{% load vzs_filters %}

{% perm_url "api:token:index" as perm_token_index %}
{% perm_url "api:token:generate" as perm_token_generate %}
{% perm_url "transactions:index" as perm_transactions_index %}
{% perm_url "transactions:accounting-export" as perm_transactions_accounting_export %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url "pages:home" %}" class="brand-link">
        <img src="{% static "logo.svg" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Členská sekce P15</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header nav-item text-uppercase">Menu</li>

                {% render_menu %}

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
