{% extends 'one_time_events_occurrences/detail_bases/attendance.html' %}
{% load static %}
{% load vzs_filters %}
{% block location_text %}{{ event }} – {{ occurrence.date|date }}{% endblock %}
{% block form_action %}{% url 'one_time_events:approve-occurrence' event.id occurrence.id %}{% endblock %}

{% block title %}{% if occurrence.is_closed %}Schválení docházky{% else %}Úprava schválení docházky
{% endif %}{% endblock %}

{% block savebtn_value %}{% if occurrence.is_closed %}Schválit a vytvořit transakce{% else %}Upravit
{% endif %}{% endblock %}

{% block notifications %}
    {% if not occurrence.can_be_reopened %}
        <div class="card bg-warning">
            <div class="card-header border-0">
                Existují organizátoři, kteří již mají proplacenou transakci, úpravou jejich docházky nebude úpravena jejich transakce
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block organizers_pretty_name %}Organizátoři{% endblock %}
{% block participants_body %}
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">Účastníci</div>
            </div>
            <div class="card-body">
                <table class="table" id="participants-table">
                    <thead>
                        <tr>
                            <th>Osoba</th>
                            <th>Přítomnost</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant_assignment in occurrence.approved_participant_assignments_sorted %}
                            <tr>
                                <td>{% render participant_assignment.person "inline_with_year" %}</td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input id="{{ participant_assignment.id }}_participant_checkbox" type="checkbox"
                                               {% if participant_assignment in participant_assignments %}checked{% endif %}
                                               class="custom-control-input" name="participants"
                                               value="{{ participant_assignment.id }}">
                                        <label for="{{ participant_assignment.id }}_participant_checkbox"
                                               class="custom-control-label"></label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block organizers_body %}
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">Organizátoři</div>
            </div>
            <div class="card-body">
                <table class="table" id="organizers-table">
                    <thead>
                        <tr>
                            <th>Osoba</th>
                            <th>Přítomnost</th>
                            <th>Obdržená částka</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for organizer_assignment in occurrence.approved_organizer_assignments_sorted %}

                            {% with organizer_amount=organizer_amounts|index:organizer_assignment.id %}
                                <tr {% if organizer_assignment.is_transaction_settled %}class="bg-warning"{% endif %}>
                                    <td>{% render organizer_assignment.person "inline_with_year" %}</td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="{{ organizer_assignment.id }}_organizer_checkbox" type="checkbox"
                                                   {% if organizer_assignment in organizer_assignments %}checked{% endif %}
                                                   class="custom-control-input" name="organizers"
                                                   value="{{ organizer_assignment.id }}"
                                                   {% if organizer_assignment.transaction is None or not organizer_assignment.transaction.is_settled %}onchange="organizerAttendaceChanged(this)"{% endif %}
                                            >
                                            <label for="{{ organizer_assignment.id }}_organizer_checkbox"
                                                   class="custom-control-label"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="{{ organizer_assignment.id }}_organizer_amount"
                                               name="{{ organizer_assignment.id }}_organizer_amount"
                                               class="form-control"
                                               type="number" value="{{ organizer_amount }}" min="0"
                                               {% if organizer_assignment.transaction is not None and organizer_assignment.transaction.is_settled %}disabled{% endif %}
                                        >

                                    </td>
                                </tr>
                                {% if not organizer_assignment.has_rate %}
                                    <tr>
                                        <td colspan="3" class="text-center border-top-0 p-0">
                                            <div class="alert alert-warning">
                                                Organizátor nemá nastavenou hodinovou sazbu pro tento typ akce.
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'one_time_events_occurrences/approve_occurrence.js' %}"></script>
{% endblock %}