{% extends "base.html" %}
{% load vzs_filters %}
{% load static %}
{% block title %}
    Detail dne {{ occurrence.date|date }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ event.name }}</span></div>
                </div>
            </div>
            {% include 'one_time_events_occurrences/fill_attendance_button.html' %}
            {% include 'one_time_events_occurrences/reopen_button.html' %}
            {% include 'one_time_events_occurrences/approve_occurrence_button.html' %}
            {% include 'one_time_events_occurrences/cancel_approvement_button.html' %}
        </div>
    </div>
    <div class="row">
        {% include 'one_time_events_occurrences/detail_components/overview.html' %}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Chybějící
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'one_time_events_occurrences/detail_components/missing_participants.html' %}
                        {% include 'one_time_events_occurrences/detail_components/missing_organizers.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "modal_include.html" with id="reopen-one-time-event-occurrence" %}
    {% include "modal_include.html" with id="cancel-occurrence-approvement" %}
{% endblock %}
{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>
        simpleOrderableTableEnable("participants-missing-table", [0])
        simpleOrderableTableEnable("organizers-missing-table", [0, 1])
    </script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>
        registerModal('reopen-one-time-event-occurrence')
        registerModal('cancel-occurrence-approvement')
    </script>
{% endblock %}