{% load vzs_filters %}
<div class="col-12 col-lg-6">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Přehled</div>
        </div>
        <div class="card-body p-0 table-responsive">
            <table class="mb-1 table">
                <tbody>
                    <tr>
                        <td class="text-nowrap text-bold">Kategorie:</td>
                        <td class="w-100">{{ event.get_category_display }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Popis:</td>
                        <td class="w-100">{{ event.description|handle_missing }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Místo konání:</td>
                        <td class="w-100">{{ event.location|handle_missing }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Začíná:</td>
                        <td class="w-100">{{ event.date_start }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Končí:</td>
                        <td class="w-100">{{ event.date_end }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Koná se týdně:</td>
                        <td class="w-100">{{ event.weekly_occurs_count }}x</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold align-middle">Čas konání:</td>
                        <td class="w-100">
                            {% for weekday in event.weekdays_list %}
                                {% include 'trainings/components/weekday.html' %}
                                {% if not forloop.last %} <br> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold align-middle">Kapacita:</td>
                        <td class="w-100">
                            {% for weekday in event.weekdays_list %}
                                {% include 'trainings/detail_components/capacity.html' %}
                                {% if not forloop.last %} <br> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>