{% load vzs_filters %}
{% load trainings_template_tags %}
<div class="col-12 col-md">
    <div class="card">
        <div class="card-header border-bottom-0">
            <div class="card-title h5">Účastníci {{ weekday|weekday_pretty_full|lower }}</div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped">
                <tbody>
                    {% for participant_enrollment in participants %}
                        {% with participant=participant_enrollment.person %}
                            <tr>
                                <td>{{ participant }}</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
