{% load events_template_tags %}
{% load vzs_filters %}
<div class="col-12 col-lg-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">{{ occurrence.date|date }}</div>
        </div>
        <div class="card-body">
            <table id="positions-{{ occurrence.id }}-table" class="table">
                <thead>
                    <tr>
                        <th>Pozice</th>
                        <th>Zaplněnost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for position_assignment in occurrence.event.eventpositionassignment_set.all %}
                        <tr>
                            {% with organizers_count=occurrence|occurrence_position_assignment_organizers:position_assignment|length %}
                                <td>
                                    <a href="{% url 'positions:detail' position_assignment.position.id %}">{{ position_assignment.position }}</a>
                                </td>
                                <td class="{% if organizers_count == position_assignment.count %}bg-success{% elif organizers_count > position_assignment.count %}bg-warning{% endif %}">{{ organizers_count }}
                                    / {{ position_assignment.count }}</td>
                            {% endwith %}
                            <td>
                                {% if active_person is not None %}
                                    {% if occurrence|tuple:active_person|can_enroll_position:position_assignment %}
                                        <form method="POST" style="display: inline"
                                              action="{% url 'one_time_events:enroll-myself-organizer-occurrence' occurrence.id position_assignment.id %}">
                                            {% csrf_token %}
                                            <button class="btn btn-info" type="submit">Přihlásit se</button>
                                        </form>
                                    {% elif occurrence|tuple:active_person|can_unenroll_position:position_assignment %}
                                        {% with assignment=occurrence|tuple:active_person|get_organizer_assignment:position_assignment %}
                                            <a href="{% url 'one_time_events:unenroll-myself-organizer-occurrence' occurrence.id assignment.id %}"
                                               class="btn btn-secondary"
                                               data-toggle="modal"
                                               data-target="#unenroll-myself-organizer-occurrence-modal"
                                               data-action="{% url 'one_time_events:unenroll-myself-organizer-occurrence' occurrence.id assignment.id %}"
                                            >Odhlásit se</a>
                                        {% endwith %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table" id="organizers-{{ occurrence.id }}-table">
                <thead>
                    <tr>
                        <th>Osoba</th>
                        <th>Pozice</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for organizer_assignment in occurrence.organizeroccurrenceassignment_set.all %}
                        <tr>
                            <td>{% render organizer_assignment.person "inline_with_year" %}</td>
                            <td>
                                <a href="{% url 'positions:detail' organizer_assignment.position_assignment.position.id %}">{{ organizer_assignment.position_assignment.position }}</a>
                            </td>
                            <td>
                                {% if occurrence.is_opened %}
                                    <div class="btn-group">
                                        <a class="btn btn-success btn-sm"
                                           href="{% url 'one_time_events:edit-organizer-for-occurrence' organizer_assignment.occurrence.id organizer_assignment.id %}">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#delete-organizer-assignment-modal"
                                           data-action="{% url 'one_time_events:delete-organizer-from-occurrence' organizer_assignment.occurrence.id organizer_assignment.id %}"
                                           class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
        {% if occurrence.is_opened %}
            <div class="card-footer text-center">
                <a href="{% url 'one_time_events:add-organizer-for-occurrence' occurrence.id %}"
                   class="btn-primary btn">Přidat</a>
            </div>
        {% endif %}
    </div>
</div>