{% load vzs_filters %}
<div class="col-12 col-xl-6">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Přehled</div>
        </div>
        <div class="card-body p-0 table-responsive">
            <table class="mb-1 table">
                <tbody>

                    <tr>
                        <td class="text-nowrap text-bold">Kategorie:</td>
                        <td class="w-100">{{ event.get_category_display }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Popis:</td>
                        <td class="w-100">{{ event.description|handle_missing }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Místo konání:</td>
                        <td class="w-100">{{ event.location|handle_missing }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Noví účastníci jsou přidáni jako:</td>
                        <td class="w-100">{{ event.get_participants_enroll_state_display }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Stav:</td>
                        <td class="w-100">{{ event.get_state_display }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Začíná:</td>
                        <td class="w-100">{{ event.date_start }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Končí:</td>
                        <td class="w-100">{{ event.date_end }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Účastníci:</td>
                        {% with substitute_participants=event.substitute_participants %}
                            <td class="w-100">{{ event.approved_participants|length }} / {{ event.get_capacity_display }} {% if substitute_participants|length > 0 %}({{ substitute_participants|length }}){% endif %}</td>
                        {% endwith %}
                    </tr>
                    <tr>
                        <td class="text-bold">Standardní výše poplatku pro účastníky:</td>
                        <td class="w-100">{{ event.default_participation_fee|money|handle_missing }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>