<div class="col-12">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">
                Účastníci
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                {% include 'one_time_events/detail_components/participants_by_state.html' with base_template='events/detail_bases/participants_approved.html' enrollments=event.approved_enrollments %}
                {% include 'one_time_events/detail_components/participants_by_state.html' with base_template='events/detail_bases/participants_substitute.html' enrollments=event.substitute_enrollments %}
                {% include 'one_time_events/detail_components/participants_by_state.html' with base_template='events/detail_bases/participants_rejected.html' enrollments=event.rejected_enrollments %}
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'one_time_events:create-participant-enrollment' event.id %}"
               class="btn-primary btn mr-3">Přidat</a>
            {% include 'one_time_events/components/bulk_approve_button.html' %}
        </div>
    </div>
</div>