<div class="col-12">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Rozpis konání události</div>
        </div>
        <div class="card-body">
            <div class="row">
                {% for occurrence in event.sorted_occurrences_list %}
                    <div class="col-sm-5 col-md-3 col-lg-3 col-12">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="card-title h5 text-bold">

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>