{% extends 'base.html' %}
{% load vzs_filters %}

{% block title %}Seznam všech skupin{% endblock %}

{% block content %}
    {% ifperm 'groups:add' as perm %}
        <div class="btn-group-md btn-group mb-3 elevation-2">
            <a href="{{ perm.url }}" class="btn btn-primary">Přidat skupinu</a>
        </div>
    {% endifperm %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Skupiny</div>
                </div>
                <div class="card-body">
                    <ul>
                        {% for group in groups %}
                            <li><a href="{% url 'groups:detail' group.id %}">{{ group.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
