{% load vzs_filters %}

{% include 'persons/detail_components/_person_title.html' %}

<div class="btn-group-md btn-group mb-3 elevation-2">
    <a href="{% url 'persons:edit' person.id %}" class="btn btn-success">Upravit osobu</a>
    {% include "delete_button_text.html" with id="delete-person-modal" additional_text="osobu" %}
</div>
<div class="btn-group-md btn-group mb-3 elevation-2">
    {% ifperm 'persons:transaction-list' person.id as perm %}
        <a href="{{ perm.url }}" class="btn btn-info">Transakce</a>
    {% endifperm %}
    {% ifperm 'persons:transaction-add' person.id as perm %}
        <a href="{{ perm.url }}" class="btn btn-info">Přidat transakci</a>
    {% endifperm %}
</div>

<div class="btn-group-md btn-group mb-3 elevation-2">
    <a href="{% url 'persons:stats' person.id %}" class="btn btn-info">Zobrazit statistiky</a>
</div>
