{% include 'persons/detail_components/_person_title.html' %}
<div class="btn-group-md btn-group mb-3 elevation-2">
    <a href="{% url 'persons:edit' person.id %}" class="btn btn-success">Upravit osobu</a>
    {% include "delete_button_text.html" with id="delete-person-modal" additional_text="osobu" %}
</div>
<div class="btn-group-md btn-group mb-3 elevation-2">
    {% if perms.persons.spravce_kvalifikaci %}
        <a href="{% url 'persons:qualifications:add' person.id %}" class="btn btn-info">Přidat kvalifikaci</a>
    {% endif %}
    {% if perms.persons.spravce_opravneni %}
        <a href="{% url 'persons:permissions:add' person.id %}" class="btn btn-info">Přidat oprávnění</a>
    {% endif %}
    {% if perms.persons.spravce_vybaveni %}
        <a href="{% url 'persons:equipments:add' person.id %}" class="btn btn-info">Přidat vybavení</a>
    {% endif %}
</div>
<div class="btn-group-md btn-group mb-3 elevation-2">
    <a href="{% url 'persons:transaction-list' person.id %}" class="btn btn-info">Transakce</a>
    {% if perms.transactions.spravce_transakci %}
        <a href="{% url 'persons:transaction-add' person.id %}" class="btn btn-info">Přidat transakci</a>
    {% endif %}
</div>

<div class="btn-group-md btn-group mb-3 elevation-2">
    <a href="{% url 'persons:stats' person.id %}" class="btn btn-info">Zobrazit statistiky</a>
</div>