{% load vzs_filters %}

<div class="card">
    <div class="card-header">
        <div class="card-title h5">Spravované osoby</div>
    </div>
    <div class="card-body p-0">
        {% if object.managed_persons.count %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Osoba spravuje</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in object.managed_persons.all %}
                        <tr>
                            <td class="align-middle">{% render person "inline" %}</td>
                            <td class="text-center">
                                <form method="post" action="{% url "persons:remove-managed-person" object.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="managed_person" value="{{ person.pk }}">
                                    <button type="submit" name="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if object.managed_by.count %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Osoba je spravována</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in object.managed_by.all %}
                        <tr>
                            <td class="align-middle">{% render person "inline" %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
    <div class="card-footer text-center">
        <a href="#" class="btn-primary btn" data-toggle="modal" data-target="#add-manage-person-modal">Přidat spravovanou osobu</a>
    </div>
</div>
