{% load vzs_filters %}

<div class="card">
    <div class="card-header">
        <div class="card-title h5">Hodinové sazby</div>
    </div>
    <div class="card-body {% if person.hourly_rates.count %}p-0{% endif %}">
        {% if not person.hourly_rates.count %}
            <p class="text-center">Osoba nemá definované žádné hodinové sazby.</p>
        {% else %}
            <table class="table table-striped m-0">
                <tbody>
                    {% for hourly_rate in person.hourly_rates.all %}
                        <tr>
                            <td>
                                {{ hourly_rate.event_type|event_type_display_value }}
                            </td>
                            <td class="text-center">
                                {{ hourly_rate.hourly_rate}} Kč / hod
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="card-footer text-center">
        <a href="{% url "persons:edit-hourly-rates" person.pk %}" class="btn-primary btn">Upravit hodinové sazby</a>
    </div>
</div>