{% extends "persons/subview.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load vzs_filters %}

{% block title %}Transakce{% endblock %}

{% block subcontent %}
    <div class="btn-group-md btn-group mb-3 elevation-2">
        <a href="{% url 'persons:transaction-add' person.pk %}" class="btn btn-info">Přidat transakci</a>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Dluhy</div>
                </div>
                <div class="card-body">
                    <table class="table" id="transactions_debt_table">
                        <thead>
                            <tr>
                                <th>Zaplaceno</th>
                                <th>Suma</th>
                                <th>Popis</th>
                                <th>Datum splatnosti</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions_debt %}
                                <tr>
                                    <td>{{ transaction.is_settled|yesno }}</td>
                                    <td>{{ transaction.amount|absolute }}</td>
                                    <td>{{ transaction.reason }}</td>
                                    <td>{{ transaction.date_due }}</td>
                                    <td>
                                        <div class="btn-group float-right">
                                            {% if not transaction.is_settled %}
                                                <a href="{% url "persons:transaction-qr" transaction.pk %}" class="btn btn-info btn-sm">
                                                    <i class="fas fa-qrcode" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                            <a href="{% url "persons:transaction-edit" transaction.pk %}" class="btn btn-success btn-sm">
                                                <i class="fas fa-pen" aria-hidden="true"></i>
                                            </a>
                                            <a href="{% url "persons:transaction-delete" transaction.pk %}" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Odměny</div>
                </div>
                <div class="card-body">
                    <table class="table" id="transactions_reward_table">
                        <thead>
                            <tr>
                                <th>Zaplaceno</th>
                                <th>Suma</th>
                                <th>Popis</th>
                                <th>Datum splatnosti</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions_reward %}
                                <tr>
                                    <td>{{ transaction.is_settled|yesno }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ transaction.reason }}</td>
                                    <td>{{ transaction.date_due }}</td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a href="{% url "persons:transaction-edit" transaction.pk %}" class="btn btn-success btn-sm">
                                                <i class="fas fa-pen" aria-hidden="true"></i>
                                            </a>
                                            <a href="{% url "persons:transaction-delete" transaction.pk %}" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>
        datatables_enable("transactions_debt_table", [1, 2], [1, 2, 3], [[0, "desc"], [3, "asc"]]);
        datatables_enable("transactions_reward_table", [1, 2], [1, 2, 3], [[0, "desc"], [3, "asc"]]);
    </script>
{% endblock %}
