{% extends "persons/transactions/list_base.html" %}

{% load vzs_filters %}

{% block title %}Transakce{% endblock %}

{% block buttons %}
    <div class="btn-group-md btn-group mb-3 elevation-2">
        <a href="{% url 'persons:transaction-list-settled' person.id %}" class="btn btn-info">Zaplacené transakce</a>
    </div>
{% endblock %}

{% block additional_debt_headers %}<th></th>{% endblock %}
{% block additional_debt_columns %}
    <td>
        <div class="btn-group float-right">
            <a href="{% url "persons:transaction-qr" transaction.pk %}" class="btn btn-info btn-sm">
                <i class="fas fa-qrcode" aria-hidden="true"></i>
            </a>
            <a href="{% url "persons:transaction-edit" transaction.pk %}" class="btn btn-success btn-sm">
                <i class="fas fa-pen" aria-hidden="true"></i>
            </a>
            <a href="{% url "persons:transaction-delete" transaction.pk %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </a>
        </div>
    </td>
{% endblock %}

{% block additional_reward_headers %}<th></th>{% endblock %}

{% block additional_reward_columns %}
    <td>
        <div class="btn-group float-right">
            <a href="{% url "persons:transaction-edit" transaction.pk %}" class="btn btn-success btn-sm">
                <i class="fas fa-pen" aria-hidden="true"></i>
            </a>
            <a href="{% url "persons:transaction-delete" transaction.pk %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </a>
        </div>
    </td>
{% endblock %}


{% block debt_footer %}
    <div class="card-footer">
        Spolu: {{ total_debt|absolute }}
    </div>
{% endblock %}

{% block reward_footer %}
    <div class="card-footer">
        Spolu: {{ total_reward }}
    </div>
{% endblock %}
