{% load price_list_tag_extensions %}
<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Bonusy za kvalifikace</div>
        </div>
        <div class="card-body p-0">
            <form method="POST" action="">
                {% csrf_token %}
                {% if price_list.bonus_features.all %}
                    <table id="added-qualifications-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Název</th>
                                <th>Příplatek</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in price_list.bonus_features.all %}
                                {% with bonus=f|get_price_list_bonus:price_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'qualifications:detail' f.id %}">{{ f }}</a>
                                        </td>
                                        <td>
                                            {{ bonus.extra_salary }} Kč
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-success btn-sm"
                                                   href="{% url 'price_lists:edit_bonus' price_list.id bonus.id %}">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" data-toggle="modal" data-target="#delete-bonus-modal"
                                                   data-action="{% url 'price_lists:delete_bonus' price_list.id bonus.id %}"
                                                   class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </form>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'price_lists:add_bonus' price_list.id %}" class="btn-primary btn">Přidat</a>
        </div>
    </div>
</div>