<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Přehled</div>
        </div>
        <div class="card-body p-0">
            <table class="mb-1 table">
                <tbody>
                    <tr>
                        <td class="text-nowrap text-bold">Název:</td>
                        <td class="w-100">{{ price_list.name }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Základní výplata organizátorů:</td>
                        <td class="w-100">{{ price_list.salary_base }} Kč</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Poplatek za účast:</td>
                        <td class="w-100">{{ price_list.participant_fee }} Kč</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>