<div class="col-12">
    <div class="card ">
        <div class="card-header d-flex align-items-center">
            <div class="card-title h5">Nadcházející tréninky</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="upcoming-trainings-occurrences" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Název</th>
                                <th scope="col">Den</th>
                                <th scope="col">Datum</th>
                                <th scope="col">Čas</th>
                                <th scope="col">Místo konání</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for upcoming_occurrence in upcoming_trainings_occurrences %}
                                <tr>
                                    <td>{{ upcoming_occurrence.event.name }}</td>
                                    <td>{{ upcoming_occurrence.datetime_start|date:"l" }}</td>
                                    <td>{{ upcoming_occurrence.datetime_start|date:"d. m. Y" }}</td>
                                    <td>{{ upcoming_occurrence.datetime_start|date:"H:i" }} - {{ upcoming_occurrence.datetime_end|date:"H:i" }}</td>
                                    <td>{{ upcoming_occurrence.event.location }}</td>
                                    <td class="text-right">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
