{% extends "modal.html" %}

{% block modal_title %}
    Odhlásit se jako jednorázový účastník
{% endblock %}

{% block modal_body %}
    <div class="row">
        <p class="px-4">Chcete opravdu zrušit svoji jednorázovou účast jako účastník?</p>
    </div>
{% endblock %}
{% block modal_footer_classes %}justify-content-center{% endblock %}
{% block modal_footer %}
    <form method="post" action="{% url 'trainings:unenroll-myself-participant-occurrence' event.id occurrence.id participant_attendance.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Zrušit svoji účast</button>
    </form>
{% endblock %}
