{% load vzs_filters %}
<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Účastníci</div>
        </div>
        <div class="card-body">
            <table class="table" id="participants-missing-table">
                <thead>
                    <tr>
                        <th>Osoba</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant_assignment in occurrence.missing_participants_assignments_sorted %}
                        <tr>
                            <td>{% render participant_assignment.person "inline_with_year" %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>