<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Organizátoři</div>
        </div>
        <div class="card-body">
            <table class="table" id="organizers-missing-table">
                <thead>
                    <tr>
                        <th>Osoba</th>
                        <th>Pozice</th>
                    </tr>
                </thead>
                <tbody>
                    {% for organizer_assignment in occurrence.missing_organizers_assignments_sorted %}
                        <tr>
                            <td>
                                <a href="{% url 'persons:detail' organizer_assignment.person.id %}">{{ organizer_assignment.person }}</a>
                            </td>
                            <td>
                                <a href="{% url 'positions:detail' organizer_assignment.position_assignment.position.id %}">{{ organizer_assignment.position_assignment.position }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
