<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Věkové omezení</div>
        </div>
        <div class="card-body p-0">
            <table class="mb-1 table">
                <tbody>
                    <tr>
                        <td class="text-nowrap text-bold">Min</td>
                        <td>
                            {% if position.min_age_enabled %}
                                {{ position.min_age }}
                            {% else %}
                                <i class="fa fa-times" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Max</td>
                        <td>
                            {% if position.max_age_enabled %}
                                {{ position.max_age }}
                            {% else %}
                                <i class="fa fa-times" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'positions:edit_age_limit' position.id %}" class="btn-primary btn">Upravit</a>
        </div>
    </div>
</div>