{% load vzs_filters %}
<div class="col-12 col-lg-4">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Přehled</div>
        </div>
        <div class="card-body p-0 table-responsive">
            <table class="mb-1 table">
                <tbody>
                    <tr>
                        <td class="text-nowrap text-bold">Hodinová sazba:</td>
                        <td class="w-100">{{ position.wage_hour|money }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>