{% load vzs_filters %}
<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Omezení pro typ členství</div>
        </div>
        <div class="card-body p-0">
            <form method="POST" action="{% url 'positions:remove_person_type' position.id %}">
                {% csrf_token %}
                {% if position.allowed_person_types.all %}
                    <table id="added-equipments-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Jméno</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% if position.allowed_person_types %}
                            <tbody>
                                {% for person_type in position.allowed_person_types.all %}
                                    <tr>
                                        <td>
                                            {{ person_type }}
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                    name="person_type"
                                                    value="{{ person_type.person_type }}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        {% endif %}
                {% endif %}
            </form>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="btn-primary btn" data-toggle="modal"
               data-target="#add-person-type">Přidat</a>
        </div>
    </div>
</div>

<div class="modal fade" id="add-person-type" tabindex="-1" role="dialog"
     aria-labelledby="add-person-type"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title" class="modal-title">Přidat omezení pro typ členství</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'positions:add_person_type' position.id %}">
                    {% csrf_token %}
                    <table class="table table-striped" id="add-feature-table">
                        <thead>
                            <tr>
                                <th>Název</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for available_person_type in available_person_types %}
                                <tr>
                                    <td>
                                        {{ available_person_type|index:1 }}
                                        {% if available_person_type|index:0 in person_types_required %}
                                            <span class="badge badge-success">přidáno</span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="submit" name="person_type"
                                                value="{{ available_person_type|index:0 }}"
                                                {% if available_person_type|index:0 in person_types_required %}
                                                    disabled
                                                {% endif %}
                                        >Přidat
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>