{% extends 'events/create_edit_organizer_assignment.html' %}
{% load static %}
{% block title %}Přidání organizátora na více dnů{% endblock %}
{% block child2_scripts %}
    <script src="{% static 'one_time_events/bulk_add_organizer_checkboxes.js' %}"></script>
    <script src="{% static 'one_time_events/bulk_add_organizer.js' %}"></script>
{% endblock %}
{% block form_action %}{% url 'one_time_events:bulk-add-organizer' event.id %}{% endblock %}
{% block card_title %}Přidání{% endblock %}
{% block savebtn_value %}Přidat{% endblock %}
{% block savebtn_class %}btn-primary{% endblock %}
{% block child2_notifications %}
    <div id="not-opened-notification" class="card bg-danger" style="display: none">
        <div class="card-header border-0">
            Dny, jejichž výběr je zakázán, již nejsou otevřeny
        </div>
    </div>
    <div id="capacity-notification" class="card bg-warning" style="display: none">
        <div class="card-header border-0">
            Dny ve žlutém pozadí jsou již zaplněny
        </div>
    </div>
{% endblock %}
{% block body2 %}
    {% include 'one_time_events/components/occurrence_selection.html' %}
{% endblock %}
