{% extends "base.html" %}
{% load static %}
{% block title %}
    Detail jednorázové události
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ event.name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="{% url 'one_time_events:edit' event.id %}"
                   class="btn btn-success">Upravit</a>
                {% include "delete_button_text.html" with id="delete-event-modal" %}
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'one_time_events/detail_parts/overview.html' %}
        {% include 'events/detail_parts/positions.html' %}
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Další omezení pro účastníky
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        {% include 'events/detail_parts/age_limit.html' %}
                        {% include 'events/detail_parts/group_membership.html' %}
                        {% include 'events/detail_parts/person_type.html' %}
                        {% include 'one_time_events/detail_parts/training_category.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'one_time_events/detail_parts/schedule.html' %}
    </div>


    {% include "modal_include.html" with id="delete-event-modal" template="events/delete.html" %}
    {% include "modal_include.html" with id="delete-position-assignment-modal" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>
        simpleOrderableTableEnable("positions-table", [0, 1])
    </script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>registerModal("delete-position-assignment-modal")</script>
{% endblock %}