{% extends "base.html" %}
{% load events_template_tags %}
{% load one_time_events_template_tags %}

{% load static %}
{% load vzs_filters %}

{% block title %}Akce{% endblock %}

{% block content %}

    <div class="row">
        {% if upcoming_events_participant %}
            <div class="col">
                {% include "one_time_events/index_components/participant_enrolled_events.html" %}
            </div>
        {% endif %}

        {% if upcoming_events_organizer %}
            <div class="col">
                {% include "one_time_events/index_components/organizer_enrolled_events.html" %}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if available_events_participant %}
            <div class="col">
                {% include "one_time_events/index_components/participant_available_events.html" %}
            </div>
        {% endif %}

        {% if available_events_organizer %}
            <div class="col">
                {% include "one_time_events/index_components/organizer_available_events.html" %}
            </div>
        {% endif %}
    </div>

    {% include "modal_include.html" with id="enroll-myself-participant-modal" %}
    {% include "modal_include.html" with id="unenroll-myself-participant-modal" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>
        registerModal('enroll-myself-participant-modal')
        registerModal('unenroll-myself-participant-modal')
    </script>
{% endblock %}