{% extends "base.html" %}
{% load one_time_events_template_tags %}

{% load static %}
{% load vzs_filters %}

{% block title %}Akce{% endblock %}

{% block content %}
    <div class="btn-group-md btn-group mb-3 elevation-2">
        <a href="{% url 'one_time_events:add' %}" class="btn btn-primary">Přidat akci</a>
    </div>

    <div class="card">
        <div class="card-header d-flex align-items-center border-0">
            <div class="card-title h5">Nadcházející akce</div>
        </div>
        <div class="card-body p-0">
            <div class="row">
                <div class="col-12">
                    <table id="one-time-events-table" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Název</th>
                                <th scope="col">Datum</th>
                                <th scope="col">Místo konání</th>
                                <th scope="col" style="width: 40px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                {% if event.is_one_time_event %}
                                    <tr>
                                        <td><a href="{% url 'one_time_events:detail' event.id %}">{{ event.name }}</a></td>
                                        <td>{% display_date_range event %}</td>
                                        <td>{{ event.location }}</td>
                                        <td>
                                            {% ifperm 'one_time_events:edit' event.id as perm %}
                                                <div class="btn-group">
                                                    <a class="btn btn-info btn-sm" href="{% url 'one_time_events:detail' event.id %}">
                                                        <i class="fas fa-info"></i>
                                                    </a>
                                                    <a class="btn btn-success btn-sm" href="{% url 'one_time_events:edit' event.id %}">
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                    {% include "delete_button_icon.html" with id="delete-event-modal" pattern="events:delete" object=event %}
                                                </div>
                                            {% endifperm %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}