<div class="card">
    <div class="card-header">
        <div class="card-title h5">Tip k užívání</div>
    </div>
    <div class="card-body">
        <p>Víte, že máte přístup k více osobám a můžete v pravém rohu (vedle tlačítka odhlásit) zvolit, za jakou osobu se systémem interagujete?</p>
        <p>Dejte si pozor, abyste v systému pracovali opravdu za osobu, kterou chcete - pokud jste rodič, zvolte si účet svého dítete, abyste ho mohl{% if active_person.sex == "F" %}a{% endif %} přihlásit.</p>
    </div>
</div>