{% load vzs_filters %}
<div class="card">
    <div class="card-header">
        <div class="card-title h5">{{ title }}</div>
    </div>
    <div class="card-body p-0 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Datum</th>
                    <th>Místo</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td class="text-nowrap">{{ event.date_start }}</td>
                        <td>{{ event.location|handle_missing_empty }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>