{% extends "base.html" %}

{% load render %}

{% block content %}
    <a href="{% url "users:index" %}">Zpět</a>

    <form action="{% url "users:add" %}" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Submit">
    </form>

    <hr>

    <form action="{% url "users:add" %}" method="get">
        {{ person_search_form.as_div }}
        <button type="submit">Hledej</button>
    </form>

    <form action="{% url "users:add" %}" method="get">
        <table>
            <tr>
                <th>Detail</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>E-mail</th>
                <th>Vybrat</th>
            </tr>
            {% for person in people %}
                <tr>
                    <td>{% render person "link" text="Detail" %}</td>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.email }}</td>
                    <td>
                        <input type="radio" name="person" value="{{ person.id }}" required>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {{ person_select_form }}
        <button type="submit" {% if not people %} disabled {% endif %}>Vybrat</button>
    </form>
{% endblock %}
