{% extends "base.html" %}

{% load vzs_filters %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Vytvořit uživatele</h3>
        </div>
        <form action="{% url "users:add" %}" method="post">
            {% csrf_token %}
            <div class="card-body">
                {{ form.as_div }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Vytvořit</button>
            </div>
        </form>
    </div>

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Vybrat osobu</h3>
        </div>

        <div class="card-body">
            <form action="{% url "users:add" %}" method="get">
                {{ person_search_form }}
                <button type="submit" class="btn btn-primary">Hledat</button>
            </form>

            <form action="{% url "users:add" %}" method="get" id="person_select_form">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Vybrat</th>
                            <th>Jméno</th>
                            <th>Příjmení</th>
                            <th>E-mail</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in people %}
                            <tr>
                                <td>
                                    <input type="radio" name="person" value="{{ person.id }}" required>
                                </td>
                                <td>{{ person.first_name }}</td>
                                <td>{{ person.last_name }}</td>
                                <td>{{ person.email }}</td>
                                <td>{% render person "link" text="Detail" %}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">Žádné výsledky</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ person_select_form }}
            </form>
        </div>

        <div class="card-footer">
            <button form="person_select_form" type="submit" {% if not people %} disabled {% endif %} class="btn btn-primary">Vybrat</button>
        </div>
    </div>
{% endblock %}
