{% extends "base.html" %}

{% load render %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Hledat uživatele</h3>
        </div>

        <div class="card-body">
            <form action="{% url "users:index" %}" method="get">
                {{ user_search_form.as_div }}
                <button type="submit" class="btn btn-primary">Hledat</button>
            </form>

            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th>Detail</th>
                        <th>Osoba</th>
                        <th>Povolení</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in page_obj %}
                        <tr>
                            <td><a href="{% url "users:detail" user.pk %}">Detail</a></td>
                            <td>{% render user.person "inline" %}</td>
                            <td>TODO</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">Žádné výsledky</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix">
            <div class="pagination">
                <form action="{% url "users:index" %}" method="get">
                    {{ user_search_pagination_form.as_div }}

                    <div class="btn-group">
                        <button type="submit" name="page" {% if page_obj.has_previous %} value="1" {% else %} disabled {% endif %} class="btn btn-default">&laquo;</button>
                        <button type="submit" name="page" {% if page_obj.has_previous %} value="{{ page_obj.previous_page_number }}" {% else %} disabled {% endif %} class="btn btn-default">&lt;</button>
                    </div>

                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}

                    <div class="btn-group">
                        <button type="submit" name="page" {% if  page_obj.has_next %} value="{{ page_obj.next_page_number }}" {% else %} disabled {% endif %} class="btn btn-default">&gt;</button>
                        <button type="submit" name="page" {% if  page_obj.has_next %} value="{{ page_obj.paginator.num_pages }}" {% else %} disabled {% endif %} class="btn btn-default">&raquo;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
