{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Přihlášení</h3>
                    </div>
                    <div class="card-body">
                        {% if next %}
                            <p>Prosím, přihlašte se.</p>
                        {% endif %}

                        <form action="{% url "users:login" %}" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Přihlásit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
