{% extends 'base.html' %}

{% block title %}Seznam všech {{ texts.name_2_plural }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">{{ texts.name_1|capfirst }}</div>
                </div>
                <div class="card-body">
                    <ul>
                        {% include "persons/features/_features_list_display_recursive.html" with type=feature_type %}
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url feature_type|add:':add' %}" class="btn btn-primary">Přidat {{ texts.name_4 }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
