{% load events_template_tags %}
{% load one_time_events_template_tags %}
{% load vzs_filters %}

<div class="col-12 col-lg-5">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Základní informace o tréninku</div>
        </div>
        <div class="card-body p-0 table-responsive">
            <table class="mb-1 table">
                <tbody>
                    <tr>
                        <td class="text-nowrap text-bold">Kategorie:</td>
                        <td class="w-100">{{ event.get_category_display }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Časy konání:</td>
                        <td class="w-100">
                            {% for weekday in event.weekdays_list %}
                                {% include 'trainings/components/weekday.html' %}
                                {% if weekday not in active_person_participant_enrolled_weekdays %}<span class="text-muted">(nepřihlášen)</span>{% endif %}
                                {% if not forloop.last %} <br> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Datum:</td>
                        <td class="w-100">{% display_date_range event %}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Místo konání:</td>
                        <td class="w-100">{{ event.location|handle_missing }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap text-bold">Obsazenost:</td>
                        {% with substitute_participants=event.substitute_participants %}
                            <td class="w-100">{{ event.approved_participants|length }} / {{ event.get_capacity_display }} {% if substitute_participants|length > 0 %}({{ substitute_participants|length }}){% endif %}</td>
                        {% endwith %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>