{% load trainings_template_tags %}
<div class="card">
    <div class="card-header">
        <div class="card-title h5">Proběhlé tréninky</div>
    </div>
    <div class="card-body">
        <div class="row">
            {% for occurrence in past_occurrences %}
                <div class="col">
                    <div class="card bg-{{ occurrence.participant_attendance|get_color_by_attendance_status }}">
                        <div class="card-header border-0 mx-auto text-nowrap">
                            <div class="card-title h5 text-bold text-center">{{ occurrence.datetime_start|date:"l" }}<br/>{{ occurrence.datetime_start|date:"j. n. y" }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>