{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <div class="btn-group-md btn-group mb-3 elevation-2">
        <a href="{% url 'pages:edit' object.slug %}" class="btn btn-info">Upravit stránku</a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ object.content }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
