{% extends "modal_delete.html" %}
{% block modal_title %}
    Smazání trenéra
{% endblock %}
{% block modal_body %}
    <div class="row">
        <p class="px-4">Chcete opravdu smazat trenéra?</p>
    </div>
    <div class="row">
        <ul>
            <li>
                <b>Osoba:</b> <a target="_blank"
                                 href="{% url 'persons:detail' coach_assignment.person.id %}">{{ coach_assignment.person }}</a>
            </li>
            <li>
                <b>Pozice: </b> <a target="_blank"
                                   href="{% url 'positions:detail' coach_assignment.position_assignment.position.id %}">{{ coach_assignment.position_assignment.position }}</a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block delete_action %}
    {% url 'trainings:delete-coach-assignment' coach_assignment.training.id coach_assignment.id %}
{% endblock %}