{% extends "modal_delete.html" %}

{% block modal_title %}
    Potvrzení smazání pozice
{% endblock %}

{% block modal_body %}
    <div class="row">
        <p class="px-4">Chcete opravdu smazat pozici "{{ position.name }}"?</p>
    </div>
    {% if position.required_features.all|length > 0 %}
        <div class="row">
            <div class="alert alert-warning" style="display: inline">
                Tato pozice zahrnuje
                <ul>
                    <li>Kvalifikace: {{ position.required_qualifications|length }}</li>
                    <li>Oprávnění: {{ position.required_permissions|length }}</li>
                    <li>Vybavení: {{ position.required_equipment|length }}</li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block delete_action %}
    {% url "positions:delete" position.pk %}
{% endblock %}
