{% load static %}

<!DOCTYPE html>
<html lang="cs">

  <head>
    <title>VZS Členská sekce</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>

    </header>
    <section>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% block content %}{% endblock %}

    </section>
  </body>
</html>
