{% extends "modal.html" %}
{% load static %}
{% block modal_title %}
    Dny k uzavření
{% endblock %}

{% block modal_body %}
    <table class="table table-striped" id="open-occurrences-table">
        <thead>
            <tr>
                <th>Den</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for occurrence in event.sorted_occurrences_list %}
                {% if occurrence.attendace_not_filled_when_should %}
                    <tr>
                        <td><a target="_blank" href="{% url 'one_time_events:occurrence-detail' event.id occurrence.id %}">{{ occurrence.date|date }}</a></td>
                        <td>
                            <a target="_blank" href="{% url 'one_time_events:fill-attendance' event.id occurrence.id %}" class="btn btn-info">Zapsat docházku</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

