{% extends "base.html" %}
{% load static %}
{% load events_tag_extensions %}
{% block scripts %}
    <script src="{% static 'positions/position_detail.js' %}"></script>
{% endblock %}
{% block title %}
    Detail pozice
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ position.name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="{% url 'positions:edit' position.id %}"
                   class="btn btn-success">Změna jména</a>
                {% include "delete_button_text.html" with id="delete-position-modal" %}
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'positions/detail_components/qualifications_required.html' %}
        {% include 'positions/detail_components/permissions_required.html' %}
        {% include 'positions/detail_components/equipment_required.html' %}
        {% include 'positions/detail_components/age_limit.html' %}
        {% include 'positions/detail_components/group_membership.html' %}
        {% include 'positions/detail_components/person_type.html' %}
    </div>

    <div class="modal fade" id="add-features" tabindex="-1" role="dialog"
         aria-labelledby="add-features"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-title" class="modal-title">Přidat kvalifikaci</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'positions:add_feature' position.id %}">
                        {% csrf_token %}
                        <table class="table table-striped" id="add-feature-table">
                            <thead>
                                <tr>
                                    <th>Jméno</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="qualifications-body" style="display: none">
                                {% include 'positions/feature_tbody.html' with features=qualifications features_required=qualifications_required detail_name='qualifications:detail' %}
                            </tbody>

                            <tbody id="permissions-body" style="display: none">
                                {% include 'positions/feature_tbody.html' with features=permissions features_required=permissions_required detail_name='permissions:detail' %}
                            </tbody>

                            <tbody id="equipment-body" style="display: none">
                                {% include 'positions/feature_tbody.html' with features=equipment features_required=equipment_required detail_name='equipments:detail' %}
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>

    {% include "modal_include.html" with id="delete-position-modal" template="positions/delete.html" %}
{% endblock %}
