{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block scripts %}
    <script src="{% static 'set_element_required.js' %}"></script>
    <script src="{% static 'get_django_url.js' %}"></script>
    <script src="{% static 'edit_group_membership.js' %}"></script>
{% endblock %}
{% block title %}
    Úprava vyžadování členství ve skupině
{% endblock %}
{% block content %}
    <input type="hidden" id="url" data-url="{% url 'groups:detail' 1 %}">
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5">
                        <span style="line-height: 45px;font-size: 22.5px;">{{ position }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">Úprava</div>
                    </div>
                    <div class="card-body">
                        {{ form.group_membership_required|as_crispy_field }}
                        {{ form.group|as_crispy_field }}
                        <div class="form-group">
                            <a id="detailLink" style="display: none" target="_blank">
                                Detail vybrané skupiny
                            </a>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary"
                               value="Uložit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
