{% extends "base.html" %}
{% load vzs_filters %}

{% load static %}

{% block title %}
    Seznam pozic
{% endblock %}

{% block content %}
    {% ifperm "positions:add" as perm %}
        <div class="btn-group-md btn-group mb-3 elevation-2">
            <a href="{{ perm.url }}" class="btn btn-primary">Přidat pozici</a>
        </div>
    {% endifperm %}

    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="card-title h5">Pozice</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="positions-table" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Název</th>
                                <th scope="col" style="width: 85px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for position in positions %}
                                <tr>
                                    <td><a href="{% url 'positions:detail' position.id %}">{{ position.name }}</a></td>
                                    <td>
                                        <div class="btn-group d-flex">
                                            <a class="btn btn-info btn-sm w-100" href="{% url 'positions:detail' position.id %}">
                                                <i class="fas fa-info"></i>
                                            </a>
                                            <a class="btn btn-success btn-sm w-100" href="{% url 'positions:edit' position.id %}">
                                                <i class="fas fa-pen"></i>
                                            </a>

                                            {% include "delete_button_icon.html" with id="delete-position-modal" pattern="positions:delete" object=position %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include "modal_include.html" with id="delete-position-modal" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>datatableEnable("positions-table",[0],[0])</script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>registerModal("delete-position-modal")</script>
{% endblock %}
