{% load one_time_events_template_tags %}
{% load vzs_filters %}

<div class="col-12 col-lg-6 col-xl-4">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Mapa</div>
        </div>
        <div class="card-body">
            {% if map_is_available %}
                <iframe
                    style="width: 100%; border: 0; border-radius: 0.25rem"
                    height="450"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="{{ event.location|as_google_map_src }}">
                </iframe>
            {% else %}
                <p class="text-muted text-center">Mapa není k dispozici.</p>
            {% endif %}
        </div>
    </div>
</div>