{% load events_template_tags %}
{% load one_time_events_template_tags %}
{% load vzs_filters %}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Moje organizátorská přihláška (TODO: pridat realne cudliky)</div>
        </div>
        <div class="card-body">
            <div class="row">
                {% for occurrence in event.sorted_occurrences_list %}
                    <div class="col-sm-5 col-md-3 col-lg-3 col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <table class="mb-1 table">
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">{{ occurrence.date|date }}</td>
                                            <td class="text-right">
                                                <a href="#" class="btn btn-secondary">Odhlásit se</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>