{% load events_template_tags %}
{% load one_time_events_template_tags %}
{% load vzs_filters %}

<div class="col-12">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Organizátoři</div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                {% if event.eventpositionassignment_set.exists %}
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                {% for occurrence in event.sorted_occurrences_list %}
                                    <th scope="col">{{ occurrence.date|date }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for position_assignment in event.position_assignments_sorted %}
                                {% with position_count=position_assignment.count %}
                                    {% for i in 0|range:position_count %}
                                        <tr>
                                            <th scope="row">{{ position_assignment.position.name }}</th>
                                            {% for occurrence in event.sorted_occurrences_list %}
                                                {% with organizer_assignments=occurrence|occurrence_position_assignment_organizers:position_assignment %}
                                                    {% with organizer_assignment_i=organizer_assignments|index_safe:i %}
                                                        <td>
                                                            {% if organizer_assignment_i is not None %}
                                                                {% if organizer_assignment_i.person == active_person %}
                                                                    {% if occurrence|tuple:active_person|can_unenroll_position:position_assignment %}
                                                                        <a href="{% url 'one_time_events:unenroll-myself-organizer-occurrence' occurrence.id organizer_assignment_i.id %}"
                                                                           class="btn btn-secondary"
                                                                           data-toggle="modal"
                                                                           data-target="#unenroll-myself-organizer-occurrence-modal"
                                                                           data-action="{% url 'one_time_events:unenroll-myself-organizer-occurrence' occurrence.id organizer_assignment_i.id %}"
                                                                        >Odhlásit se</a>
                                                                    {% else %}
                                                                        já
                                                                    {% endif %}
                                                                {% else %}{{ organizer_assignment_i.person }}{% endif %}
                                                            {% else %}
                                                                {% if occurrence|tuple:active_person|can_enroll_position:position_assignment %}
                                                                    <form method="POST" style="display: inline"
                                                                          action="{% url 'one_time_events:enroll-myself-organizer-occurrence' occurrence.id position_assignment.id %}">
                                                                        {% csrf_token %}
                                                                        <button class="btn btn-info" type="submit">Přihlásit se</button>
                                                                    </form>
                                                                {% else %}
                                                                    {% value_missing_symbol %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    {% endwith %}
                                                {% endwith %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-muted text-center">Žádné organizátorské pozice nejsou přiřazeny k události.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>