{% load one_time_events_template_tags %}
{% load vzs_filters %}

<div class="col-12">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-title h5">Organizátoři (TODO: realna data)</div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col">9. 3. 2024</th>
                            <th scope="col">10. 3. 2024</th>
                            <th scope="col">23. 3. 2024</th>
                            <th scope="col">24. 3. 2024</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Velitel</th>
                            <td style="padding-left:0.75rem">Jan Novák</td>
                            <td>Jan Novák</td>
                            <td>Petr Kučera</td>
                            <td>Jan Novák</td>
                        </tr>
                        <tr>
                            <th scope="row">Zdravotník</th>
                            <td style="padding-left:0.75rem">Šimon Vomáčka</td>
                            <td>Petr Ryšavý</td>
                            <td>Jan Novák</td>
                            <td>Petr Kučera</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>