{% extends "base.html" %}
{% load events_tag_extensions %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% block scripts %}
    <script src="{% static 'events/get_django_url.js' %}"></script>
    <script src="{% static 'events/date_utils.js' %}"></script>
    <script src="{% static 'events/set_report_validity.js' %}"></script>
    <script src="{% static 'trainings/create_edit.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST"
                      action="{% block form_action %}{% endblock %}"
                      onsubmit="return beforeSubmit()">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">{% block card_title %}{% endblock %}</div>
                    </div>
                    <div class="card-body">
                        {% include "events/event_common_fields.html" %}
                        <div class="col-12 p-0">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="card-title h5">Rozpis tréninků</div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for i in '0123456'|make_list %}
                                            {% with weekday=i|atoi %}
                                                {% with day_shortcut=weekday|weekday_2_day_shortcut %}
                                                    <div class="col-sm-5 col-md-4 col-lg-3 col-12">
                                                        <div class="card">
                                                            <div class="card-header border-0">
                                                                <div class="card-title h5 text-bold">{{ form|index:day_shortcut|as_crispy_field }}</div>
                                                            </div>
                                                            <div class="card-body p-0">
                                                                {% with from_var_name=day_shortcut|addstr:'_from' to_var_name=day_shortcut|addstr:'_to' %}
                                                                    <div class="row">
                                                                        <div class="col-12 px-4">
                                                                            {{ form|index:from_var_name|as_crispy_field }}
                                                                        </div>
                                                                        <div class="col-12 px-4">
                                                                            {{ form|index:to_var_name|as_crispy_field }}
                                                                        </div>
                                                                    </div>
                                                                {% endwith %}
                                                                <table class="mb-1 table">
                                                                    <tbody id="id_{{ day_shortcut }}_tbody">
                                                                        {% with dates_weekday=dates|index_safe:weekday %}
                                                                            {% for date,checked in dates_weekday %}
                                                                                <tr>
                                                                                    {% with dateFormatted=date|date %}
                                                                                        <td class="w-100">
                                                                                            <input id="{{ dateFormatted }}"
                                                                                                   type="checkbox" name="day"
                                                                                                   {% if checked %}
                                                                                                       checked {% endif %}
                                                                                                   onchange="trainingDayToggled(this)"
                                                                                                   value="{{ dateFormatted }}">
                                                                                            <label class="font-weight-normal"
                                                                                                   for="{{ dateFormatted }}">{{ dateFormatted }}</label>
                                                                                    {% endwith %}
                                                                                </td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        {% endwith %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endwith %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary"
                               value="{% block savebtn_value %}{% endblock %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}