{% extends "base.html" %}
{% load static %}
{% block title %}
    Detail tréninku
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span
                        style="line-height: 45px;font-size: 22.5px;">{{ event.name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="{% url 'trainings:edit' event.id %}" class="btn btn-success">Upravit</a>
                {% include "delete_button_text.html" with id="delete-event-modal" %}
            </div>
            {% include 'trainings/detail_components/enroll_unenroll_button.html' %}
        </div>
    </div>
    <div class="row">
        {% include 'trainings/detail_components/overview.html' %}
        {% include 'events/detail_components/positions.html' %}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Další omezení kladené na účastníky
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        {% include 'events/detail_components/age_limit.html' %}
                        {% include 'events/detail_components/group_membership.html' %}
                        {% include 'events/detail_components/person_type.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            {% include 'trainings/detail_components/replaceable_trainings.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">
                        Účastníci
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'trainings/detail_components/participants.html' with base_template='events/detail_bases/participants_approved.html' enrollments=event.approved_enrollments %}
                        {% include 'trainings/detail_components/participants.html' with base_template='events/detail_bases/participants_substitute.html' enrollments=event.substitute_enrollments %}
                        {% include 'trainings/detail_components/participants.html' with base_template='events/detail_bases/participants_rejected.html' enrollments=event.rejected_enrollments %}
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'trainings:create-participant-enrollment' event.id %}" class="btn-primary btn">Přidat</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'trainings/detail_components/organizers.html' with organizers_assignments=event.organizers_assignments %}
    </div>
    <div class="row">
        {% include 'trainings/detail_components/schedule.html' %}
    </div>

    {% include "modal_include.html" with id="choose-replaceable-training-modal" template="trainings/modals/replaceable_trainings_choose.html" classes="modal-lg" %}
    {% include "modal_include.html" with id="delete-event-modal" template="events/modals/delete.html" %}
    {% include "modal_include.html" with id="delete-position-assignment-modal" %}
    {% include "modal_include.html" with id="delete-participant-enrollment-modal" %}
    {% include "modal_include.html" with id="unenroll-myself-participant" %}
{% endblock %}
{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>
        simpleOrderableTableEnable("positions-table", [0, 1])
        simpleOrderableTableEnable('participants-substitute-table', [0, 1])
        simpleOrderableTableEnable('participants-rejected-table', [0, 1])
        simpleOrderableTableEnable('participants-approved-table', [0, 1])
        simpleOrderableTableEnable("organizers-table", [0, 1])
    </script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>
        registerModal("delete-position-assignment-modal")
        registerModal('delete-participant-enrollment-modal')
        registerModal('unenroll-myself-participant')
    </script>
{% endblock %}