{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block scripts %}
    <script src="{% static 'events/set_report_validity.js' %}"></script>
    <script src="{% static 'trainings/weekday_selection.js' %}"></script>
    <script src="{% static 'trainings/enroll_myself_participant.js' %}"></script>
{% endblock %}
{% block title %}
    Přihláška na trénink
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5">
                        <span style="line-height: 45px;font-size: 22.5px;">{{ event }}</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-header">
                        <div class="card-title h5">Přihláška</div>
                    </div>
                    <div class="card-body">
                        <p>Dny zobrazené jako žluté políčko jsou již zaplněny! Při jejich výběru, bude vaše přihláška zařazena mezi náhradníky.</p>
                        {% include 'trainings/components/weekday_selection.html' %}
                    </div>
                    <div class="card-footer text-center">
                        <input type="submit" class="btn btn-primary"
                               value="Odeslat přihlášku">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}