{% extends "base.html" %}
{% load events_template_tags %}

{% load static %}
{% load vzs_filters %}

{% block title %}Tréninky{% endblock %}

{% block content %}
    {% if not participant_replaceable_occurrences and not participant_enrolled_trainings and not coach_regular_trainings and not participant_upcoming_occurrences and not coach_upcoming_occurrences and not participant_available_trainings %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p>Žádné tréninky nejsou k dispozici.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if participant_replaceable_occurrences %}
        <div class="row">
            {% include "trainings/index_components/participant_replacing_trainings.html" %}
        </div>
    {% endif %}

    <div class="row">
        {% if participant_enrolled_trainings %}
            <div class="col-12 col-lg-6">
                {% include "trainings/index_components/participant_enrolled_trainings.html" %}
            </div>
        {% endif %}

        {% if coach_regular_trainings %}
            <div class="col-12 col-lg-6">
                {% include "trainings/index_components/coach_regular_trainings.html" %}
            </div>
        {% endif %}


        {% if participant_upcoming_occurrences %}
            <div class="col-12 col-lg-6">
                {% include "trainings/index_components/participant_upcoming_trainings.html" %}
            </div>
        {% endif %}

        {% if coach_upcoming_occurrences %}
            <div class="col-12 col-lg-6">
                {% include "trainings/index_components/coach_upcoming_trainings.html" %}
            </div>
        {% endif %}
    </div>

    {% if participant_available_trainings %}
        <div class="row">
            {% include "trainings/index_components/participant_available_trainings.html" %}
        </div>
    {% endif %}

    {% include "modal_include.html" with id="enroll-myself-participant-modal" %}
    {% include "modal_include.html" with id="excuse-myself-coach-modal" %}
{% endblock %}

{% block scripts %}
    <script src="{% static "datatables.js" %}"></script>
    <script>
        datatableEnable("upcoming-trainings-participant-occurrences", [], [])
        datatableEnable("upcoming-trainings-coach-occurrences", [], [])
    </script>
    <script src="{% static "register_modal.js" %}"></script>
    <script>
        registerModal('enroll-myself-participant-modal')
        registerModal('excuse-myself-coach-modal')
    </script>
{% endblock %}
