{% extends "modal.html" %}

{% block modal_title %}
    Odebrat jednorázového účastníka
{% endblock %}

{% block modal_body %}
    <div class="row">
        <p class="px-4">Chcete opravdu odebrat jednorázového účastníka {{ participant_attendance.person }}?</p>
    </div>
{% endblock %}
{% block modal_footer_classes %}justify-content-center{% endblock %}
{% block modal_footer %}
    <form method="post" action="{% url 'trainings:delete-one-time-participant' event.id occurrence.id participant_attendance.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Odebrat jednorázového účastníka</button>
    </form>
{% endblock %}
