{% load trainings_template_tags %}
{% load vzs_filters %}
<div id="weekdays-selection" class="card">
    <div class="card-header border-0">
        <div class="card-title h5">Výběr dnů v týdnu</div>
    </div>
    <div class="card-body">
        <div class="row">
            {% for weekday in event.weekdays_list %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-12">
                    {% with approved_participants_length=event|approved_enrollments_by_weekday:weekday|length %}
                        {% if event.capacity is None %}
                            {% with full=False %}
                                {% include 'trainings/components/weekday_card.html' %}
                            {% endwith %}
                        {% else %}
                            {% with full=approved_participants_length|ge:event.capacity %}
                                {% include 'trainings/components/weekday_card.html' %}
                            {% endwith %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>