{% extends "modal.html" %}
{% load vzs_filters %}
{% load static %}

{% block modal_title %}
    Přidat spravovanou osobu
{% endblock %}

{% block modal_body %}
    <form method="post" action="{% url "persons:add-managed-person" object.pk %}">
        {% csrf_token %}
        <table class="table table-striped" id="add-managed-person-table">
            <thead>
                <tr>
                    <th>Osoba</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons_to_manage %}
                    <tr>
                        <td class="align-middle">{% render person "inline" %}</td>
                        <td class="text-center">
                            <button type="submit" name="person" value="{{ person.pk }}" class="btn btn-primary btn-sm">Přidat</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
{% endblock %}
