{% extends 'base.html' %}

{% load static %}
{% load vzs_filters %}

{% block title %}Profil osoby{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="elevation-2 card">
                <div class="card-header">
                    <div class="card-title h5"><span style="line-height: 45px;font-size: 22.5px;">{{ person.first_name }} {{ person.last_name }}</span></div>
                </div>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="{% url 'persons:edit' person.id %}" class="btn btn-success">Upravit osobu</a>
                <a href="{% url 'persons:delete' person.id %}" class="btn btn-danger">Smazat osobu</a>
                <a href="{% url 'persons:qualifications:add' person.id %}" class="btn btn-info">Přidat kvalifikaci</a>
                <a href="{% url 'persons:permissions:add' person.id %}" class="btn btn-info">Přidat oprávnění</a>
                <a href="{% url 'persons:equipments:add' person.id %}" class="btn btn-info">Přidat vybavení</a>
            </div>
            <div class="btn-group-md btn-group mb-3 elevation-2">
                <a href="{% url 'persons:transaction-list-due' person.id %}" class="btn btn-info">Transakce</a>
                <a href="{% url 'persons:transaction-add' person.id %}" class="btn btn-info">Přidat transakci</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title h5">Přehled osoby</div>
                </div>
                <div class="card-body p-0">
                    <table class="mb-1 table">
                        <tbody>
                            {% if person.email %}
                                <tr>
                                    <td class="text-nowrap text-bold">E-mailová adresa:</td>
                                    <td class="w-100"><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                                </tr>
                            {% endif %}
                            {% if person.phone %}
                                <tr>
                                    <td class="text-nowrap text-bold">Telefon:</td>
                                    <td class="w-100">{{ person.phone }}</td>
                                </tr>
                            {% endif %}
                            {% if person.date_of_birth %}
                                <tr>
                                    <td class="text-nowrap text-bold">Datum narození:</td>
                                    <td class="w-100">{{ person.date_of_birth }}</td>
                                </tr>
                            {% endif %}
                            {% if person.sex %}
                                <tr>
                                    <td class="text-nowrap text-bold">Pohlaví:</td>
                                    <td class="w-100">{{ person.get_sex_display }}</td>
                                </tr>
                            {% endif %}
                            {% if person.person_type %}
                                <tr>
                                    <td class="text-nowrap text-bold">Typ člena:</td>
                                    <td class="w-100">{{ person.get_person_type_display }}</td>
                                </tr>
                            {% endif %}
                            {% if person.birth_number %}
                                <tr>
                                    <td class="text-nowrap text-bold">Rodné číslo:</td>
                                    <td class="w-100">{{ person.birth_number }}</td>
                                </tr>
                            {% endif %}
                            {% if person.health_insurance_company %}
                                <tr>
                                    <td class="text-nowrap text-bold">Pojišťovna:</td>
                                    <td class="w-100">{{ person.get_health_insurance_company_display }}</td>
                                </tr>
                            {% endif %}
                            {% if person.address %}
                                <tr>
                                    <td class="text-nowrap text-bold">Adresa:</td>
                                    <td class="w-100">{{ person.address }}</td>
                                </tr>
                            {% endif %}
                            {% if person.swimming_time %}
                                <tr>
                                    <td class="text-nowrap text-bold">Čas na 100m:</td>
                                    <td class="w-100">{{ person.swimming_time }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Uživatelský účet</div>
                </div>
                <div class="card-body p-0">
                    {% if not person.user %}
                        <p class="text-center">Účet není zřízen.</p>
                    {% else %}
                        <form method="post" action="{% url "persons:user-remove-permission" person.pk %}" id="permissionDeleteForm">
                            {% csrf_token %}
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Povolení</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for permission in person.user.user_permissions.all %}
                                    <tr>
                                        <td class="align-middle">{{ permission.name }}</td>
                                        <td class="text-center">
                                            <button type="submit" form="permissionDeleteForm" class="btn btn-primary btn-sm" name="permission" value="{{ permission.pk }}">Odebrat</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    {% if not person.user %}
                        <a href="{% url "persons:user-add" person.pk %}" class="btn-primary btn">Založit uživatelský účet</a>
                    {% else %}
                        <a href="{% url "persons:user-assign-permission" person.pk %}" class="btn btn-info">Přidat povolení</a>
                        <a href="{% url "persons:user-change-password" person.pk %}" class="btn btn-secondary">Změnit heslo</a>
                        <a href="{% url "persons:user-delete" person.pk %}" class="btn btn-danger">Smazat uživatelský účet</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Skupiny</div>
                </div>
                <div class="card-body">
                    TODO: Opravit odkazy
                    <ul>
                        {% for group in person.groups.all %}
                            <li><a href="{% url "persons:groups:detail" group.pk %}">{{ group.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn-info btn">Přidat do skupiny (TODO)</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Spravované osoby</div>
                </div>
                <div class="card-body p-0">
                    {% if object.managed_persons.count %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Osoba spravuje</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for person in object.managed_persons.all %}
                                    <tr>
                                        <td class="align-middle"><a href="{% url "persons:detail" person.pk %}">{% render person "inline" %}</a></td>
                                        <td class="text-center">
                                            <form method="post" action="{% url "persons:remove-managed-person" object.pk %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="person" value="{{ person.pk }}">
                                                <input type="submit" name="submit" value="Odebrat" class="btn btn-primary btn-sm">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if object.managed_by.count %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Osoba je spravována</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for person in object.managed_by.all %}
                                    <tr>
                                        <td class="align-middle"><a href="{% url "persons:detail" person.pk %}">{% render person "inline" %}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn-info btn" data-toggle="modal" data-target="#addManagePersonModal">Přidat spravovanou osobu</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Kvalifikace</div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Název</th>
                                <th>Platnost od</th>
                                <th>Platnost do</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qualification in qualifications %}
                                <tr {% if qualification.issuer or qualification.code %} data-widget="expandable-table" aria-expanded="false"{% endif %}>
                                    <td>{{ qualification.feature.name }}</td>
                                    <td>{{ qualification.date_assigned }}</td>
                                    <td>{% if qualification.date_expire %}{{ qualification.date_expire }}{% endif %}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-success btn-sm" href="{% url 'persons:qualifications:edit' person=person.id pk=qualification.id %}"><i class="fas fa-pen"></i></a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'persons:qualifications:delete' person=person.id pk=qualification.id %}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% if qualification.issuer or qualification.code %}
                                    <tr class="expandable-body">
                                        <td colspan="4">
                                            {% if qualification.issuer %}<p class="m-0 py-0"><strong>Vydavatel:&nbsp;</strong>{{ qualification.issuer }}</p>{% endif %}
                                            {% if qualification.code %}<p class="m-0 py-0"><strong>Kód osvědčení:&nbsp;</strong>{{ qualification.code }}</p>{% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'persons:qualifications:add' person.id %}" class="btn-info btn">Přidat kvalifikaci</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Oprávnění</div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Název</th>
                                <th>Platnost od</th>
                                <th>Platnost do</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permission in permissions %}
                                <tr>
                                    <td>{{ permission.feature.name }}</td>
                                    <td>{{ permission.date_assigned }}</td>
                                    <td>{% if permission.date_expire %}{{ permission.date_expire }}{% endif %}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-success btn-sm" href="{% url 'persons:permissions:edit' person=person.id pk=permission.id %}"><i class="fas fa-pen"></i></a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'persons:permissions:delete' person=person.id pk=permission.id %}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'persons:permissions:add' person.id %}" class="btn-info btn">Přidat oprávnění</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Zapůjčené vybavení</div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Položka</th>
                                <th>Zapůjčeno od</th>
                                <th>Zapůjčeno do</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for equipment in equipments %}
                                <tr {% if equipment.code %} data-widget="expandable-table" aria-expanded="false"{% endif %}>
                                    <td>{{ equipment.feature.name }}</td>
                                    <td>{{ equipment.date_assigned }}</td>
                                    <td>{% if equipment.date_expire %}{{ equipment.date_expire }}{% endif %}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-success btn-sm" href="{% url 'persons:equipments:edit' person=person.id pk=equipment.id %}"><i class="fas fa-pen"></i></a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'persons:equipments:delete' person=person.id pk=equipment.id %}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% if equipment.code %}
                                    <tr class="expandable-body">
                                        <td colspan="4">
                                            <p class="m-0 py-0"><strong>Inventární číslo:&nbsp;</strong>{{ equipment.code }}</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'persons:equipments:add' person.id %}" class="btn-info btn">Přidat vybavení</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addManagePersonModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Přidat spravovanou osobu</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url "persons:add-managed-person" object.pk %}">
                        {% csrf_token %}
                        <table class="table table-striped" id="addManagedPersonTable">
                            <thead>
                                <tr>
                                    <th>Osoba</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for person in persons_to_manage %}
                                    <tr>
                                        <td class="align-middle"><a href="{% url "persons:detail" person.pk %}">{% render person "inline" %}</a></td>
                                        <td class="text-center">
                                            <button type="submit" name="person" value="{{ person.pk }}" class="btn btn-primary btn-sm">Přidat</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "persons/add-managed-person.js" %}"></script>
{% endblock %}
