{% load vzs_filters %}
<div class="card ">
    <div class="card-header d-flex align-items-center">
        <div class="card-title h5">Nadcházející tréninky, které trénujete</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 table-responsive">
                <table id="upcoming-trainings-coach-occurrences" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Název</th>
                            <th scope="col">Den</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Čas</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for occurrence in coach_upcoming_occurrences %}
                            <tr>
                                <td>{{ occurrence.event.name }}</td>
                                <td class="text-nowrap">{{ occurrence.datetime_start|date:"l" }}</td>
                                <td class="text-nowrap">{{ occurrence.datetime_start|date:"d. m. Y" }}</td>
                                <td class="text-nowrap">{{ occurrence.datetime_start|date:"H:i" }} - {{ occurrence.datetime_end|date:"H:i" }}</td>
                                <td class="text-center text-nowrap">
                                    {% if occurrence.excused %}omluven/a{% endif %}
                                    {% ifperm 'trainings:excuse-myself-coach' occurrence.event.id occurrence.id as perm %}
                                        <a data-toggle="modal"
                                           data-target="#excuse-myself-coach-modal"
                                           data-action="{{ perm.url }}"
                                           class="btn btn-secondary btn-sm"><i class="fas fa-sign-out-alt"></i></a>
                                    {% endifperm %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>